
<div class="col-12 border  rounded second_color">
    <div class="row">
        <div class="col-12 d-none d-md-block text-center">
            {% if f.biz_msg.user_name == current_user.user_name %}
                {% if f.sender_user_id == current_user.id %}
                    {{ f.rec_user_user_name }}
                    <div style="font-size: 10px">  {{ moment(timestamp=f.last_message).fromNow(refresh=True) }}</div>
                {% else %}
                    {{ f.sender_user_user_name }}
                    <div style="font-size: 10px"> {{ moment(timestamp=f.last_message).fromNow(refresh=True) }}</div>
                {% endif %}

            {% else %}
                {{ f.biz_name }}
            {% endif %}
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    {#                    If the business is the sender get other user name       #}
                    {% if f.biz_msg.user_id == current_user.id %}
                        {% if f.sender_user_id == current_user.id %}
                            <a class=" " href="{{ url_for('message.view_message', msgid=f.id) }}">
                                {% if f.rec_user_id.profileimage == '' %}
                                    <img class="img-responsive rounded"
                                         src="{{ url_for('static',
                                         filename='images/noprofile.png') }}"
                                         width="70px" height="70px"
                                    >
                                {% else %}
                                    <img class="img-responsive rounded"
                                         src="{{ url_for('common.profile_image',
                                         filename= f.recmsg.profileimage) }}"
                                         width="70px" height="70px"
                                    >
                                {% endif %}
                            </a>
                        {% else %}
                            <a class=" " href="{{ url_for('message.view_message', msgid=f.id) }}">
                                {% if f.sender_user_id.profileimage == '' %}
                                    <img class="img-responsive rounded"
                                         src="{{ url_for('static',
                                         filename='images/noprofile.png') }}"
                                         width="70px" height="70px"
                                    >
                                {% else %}
                                    <img class="img-responsive rounded"
                                         src="{{ url_for('common.profile_image',
                                         filename= f.sendermsg.profileimage) }}"
                                         width="70px" height="70px"
                                    >
                                {% endif %}
                            </a>
                        {% endif %}

                        {#                    # get the business name as its not a business           #}
                    {% else %}
                        <a class=" " href="{{ url_for('message.view_message', msgid=f.id) }}">
                            {% if f.biz_msg.profileimage == '' %}
                                <img class="img-responsive rounded"
                                     src="{{ url_for('static',
                                 filename='images/noprofile.png') }}"
                                     width="70px" height="70px"
                                >
                            {% else %}
                                <img class="img-responsive rounded"
                                     src="{{ url_for('common.business_image',
                                 filename= f.biz_msg.profileimage) }}"
                                     width="70px" height="70px"
                                >
                            {% endif %}
                        </a>
                    {% endif %}
                </div>

            </div>

        </div>
        <div class="col-6 p-3 d-none d-lg-block">
            <a class="btn btn-dark  w-100 "
               href="{{ url_for('message.view_message', msgid=f.id) }}">

                View
            </a>
        </div>
    </div>
</div>