<div class="col-12 mb-3  text-white btn-ee">
    <div class="col-12 text-white"
         style="font-size: 10px"> {{ moment(timestamp=note.timestamp).fromNow(refresh=True) }}
    </div>
    <div class="col-12 text-white">
        {% if note.msg_type  ==  0%}
            <div class="col-10">
            </div>
        {% elif note.msg_type == 1 %}
            {% if note.read == 1 %}
                <div class="col-12">
                    You have a comment on your
                    <a href="{{ url_for('subforum.viewpost',subname=note.subcommon_name, postid=note.post_id) }}">post</a>
                </div>
            {% else %}
                <div class="col-12 border border-dark">
                    You have a comment on your
                    <a href="{{ url_for('subforum.viewpost',subname=note.subcommon_name, postid=note.post_id) }}">post.</a>
                </div>
            {% endif %}

        {% elif note.msg_type == 2 %}
            {% if note.read == 1 %}
                <div class="col-12">
                    You were tipped with Bitcoin for your post!
                    <a href="{{ url_for('subforum.viewpost',subname=note.subcommon_name, postid=note.post_id) }}">View post!</a>
                </div>
            {% else %}
                <div class="col-12 border border-dark">
                    You were tipped with Bitcoin for for your post!
                    <a href="{{ url_for('subforum.viewpost',subname=note.subcommon_name, postid=note.post_id) }}">View post!</a>
                </div>
            {% endif %}

        {% elif note.msg_type == 3 %}
            {% if note.read == 1 %}
                <div class="col-12">
                    You were tipped with Monero for your post!
                    <a href="{{ url_for('subforum.viewpost',subname=note.subcommon_name, postid=note.post_id) }}">
                        View post!
                    </a>
                </div>
            {% else %}
                <div class="col-12 border border-dark">
                    You were tipped with Monero for your post!
                    <a href="{{ url_for('subforum.viewpost',subname=note.subcommon_name, postid=note.post_id) }}">
                        View post!
                    </a>
                </div>
            {% endif %}

        {% elif note.msg_type == 4 %}
            {% if note.read == 1 %}
                <div class="col-12">
                    You were tipped with Bitcoin (BTC) on your comment!
                    <a href="{{ url_for('subforum.viewpost',subname=note.subcommon_name, postid=note.post_id) }}">View comment</a>
                </div>
            {% else %}
                <div class="col-10 border border-dark">
                    You were tipped with Bitcoin (BTC) on your comment!
                    <a href="{{ url_for('subforum.viewpost',subname=note.subcommon_name, postid=note.post_id) }}">View comment</a>
                </div>
            {% endif %}

        {% elif note.msg_type == 5 %}
            {% if note.read == 1 %}
                <div class="col-12">
                    You were tipped with Monero (XMR) on your comment!
                    <a href="{{ url_for('subforum.viewpost',subname=note.subcommon_name, postid=note.post_id) }}">View comment</a>
                    }}
                </div>
            {% else %}
                <div class="col-12 border border-dark">
                    You were tipped with Monero (XMR) on your comment!
                    <a href="{{ url_for('subforum.viewpost',subname=note.subcommon_name, postid=note.post_id) }}">View comment</a>
                </div>
            {% endif %}

        {% elif note.msg_type == 6 %}
            {% if note.read == 1 %}
                <div class="col-12">
                    You were made a mod of <a href="{{ url_for('subforum.sub',subname=note.subcommon_name) }}">
                    {{ note.subcommon_name }} </a>.  Congratulations
                </div>
            {% else %}
                <div class="col-12 border border-dark">
                    You were made a mod of <a href="{{ url_for('subforum.sub',subname=note.subcommon_name) }}">
                    {{ note.subcommon_name }} </a>.  Congratulations
                </div>
            {% endif %}

        {% elif note.msg_type == 7 %}
            {% if note.read == 1 %}
                <div class="col-12">
                    You were removed as a mod from <a href="{{ url_for('subforum.sub',subname=note.subcommon_name) }}">
                    {{ note.subcommon_name }} </a>.
                </div>
            {% else %}
                <div class="col-12 border border-dark">
                    You were removed as a mod from <a href="{{ url_for('subforum.sub',subname=note.subcommon_name) }}">
                    {{ note.subcommon_name }} </a>.
                </div>
            {% endif %}

        {% elif note.msg_type == 8 %}
            {% if note.read == 1 %}
                <div class="col-12">
                    You have been unbanned from {<a href="{{ url_for('subforum.sub',subname=note.subcommon_name) }}">
                    {{ note.subcommon_name }} </a>.
                </div>
            {% else %}
                <div class="col-12 border border-dark">
                    You have been unbanned from {<a href="{{ url_for('subforum.sub',subname=note.subcommon_name) }}">
                    {{ note.subcommon_name }} </a>.
                </div>
            {% endif %}

        {% elif note.msg_type == 9 %}
            {% if note.read == 1 %}
                <div class="col-12">
                    You were invited to <a href="{{ url_for('subforum.sub',subname=note.subcommon_name) }}">
                    {{ note.subcommon_name }} </a> as a member.
                </div>
            {% else %}
                <div class="col-12 border border-dark">
                    You were invited to <a href="{{ url_for('subforum.sub',subname=note.subcommon_name) }}">
                    {{ note.subcommon_name }} </a> as a member.
                </div>
            {% endif %}

        {% elif note.msg_type == 10 %}
            {% if note.read == 1 %}
                <div class="col-12">
                    You were removed from <a href="{{ url_for('subforum.sub',subname=note.subcommon_name) }}">
                    {{ note.subcommon_name }} </a> as a member.
                </div>
            {% else %}
                <div class="col-12 border border-dark">
                    You were removed from <a href="{{ url_for('subforum.sub',subname=note.subcommon_name) }}">
                    {{ note.subcommon_name }} </a> as a member.
                </div>
            {% endif %}

        {% elif note.msg_type == 11 %}
            {% if note.read == 1 %}
                <div class="col-12">
                    You were muted from <a href="{{ url_for('subforum.sub',subname=note.subcommon_name) }}">

                    {{ note.subcommon_name }} </a>
                    for 24 hours.
                </div>
            {% else %}
                <div class="col-12 border border-dark">
                    You were muted from <a href="{{ url_for('subforum.sub',subname=note.subcommon_name) }}">
                    {{ note.subcommon_name }} </a>
                    for 24 hours.
                </div>
            {% endif %}

        {% elif note.msg_type == 12 %}
            {% if note.read == 1 %}
                <div class="col-12">
                    You were banned from <a href="{{ url_for('subforum.sub',subname=note.subcommon_name) }}">
                    {{ note.subcommon_name }}. </a>
                </div>
            {% else %}
                <div class="col-12 border border-dark">
                    You were banned from <a href="{{ url_for('subforum.sub',subname=note.subcommon_name) }}">
                    {{ note.subcommon_name }}. </a>
                </div>
            {% endif %}

        {% elif note.msg_type == 13 %}
            {% if note.read == 1 %}
                <div class="col-12">
                    Post # {{ note.post_id }} was locked by an administrator.
                </div>
            {% else %}
                <div class="col-12 border border-dark">
                    Post # {{ note.post_id }} was locked by an administrator.
                </div>
            {% endif %}
        {% elif note.msg_type == 14 %}
            {% if note.read == 1 %}
                <div class="col-12">
                    Somebody posted on your <a href="{{ url_for('profile.main', user_name=current_user.user_name) }}">wall</a>
                </div>
            {% else %}
                <div class="col-12 border border-dark">
                    Somebody posted on your <a href="{{ url_for('profile.main', user_name=current_user.user_name) }}">wall</a>
                </div>
            {% endif %}
            <!--# 15 subforum owner got a tip percent-->
        {% elif note.msg_type == 15 %}
            {% if note.read == 1 %}
                <div class="col-12">
                    You have received profit from your room:
                    <a href="{{ url_for('subforum.sub',subname=note.subcommon_name, postid=note.post_id) }}">
                        Post # {{ note.post_id }}
                    </a>
                </div>
            {% else %}
                <div class="col-12 border border-dark">
                    You have received profit from your room:
                    <a href="{{ url_for('subforum.sub',subname=note.subcommon_name, postid=note.post_id) }}">
                        Post # {{ note.post_id }}
                    </a>
                </div>
            {% endif %}
        {% elif note.msg_type == 16 %}
            {% if note.read == 1 %}
                <div class="col-12">
                    Somebody wrote on your wall.
                    <a href="{{ url_for('subforum.sub',subname=note.subcommon_name, postid=note.post_id) }}">
                        Post # {{ note.post_id }}
                    </a>
                </div>
            {% else %}
                <div class="col-12 border border-dark">
                    Somebody wrote on your wall.
                    <a href="{{ url_for('subforum.sub',subname=note.subcommon_name, postid=note.post_id) }}">
                        Post # {{ note.post_id }}
                    </a>
                </div>
            {% endif %}

            <!--Post was tipped-->
        {% elif note.msg_type == 20 %}
            {% if note.read == 1 %}
                <div class="col-12">
                    You were tipped with Bitcoin Cash (BCH) on your post!
                    <a href="{{ url_for('subforum.viewpost',subname=note.subcommon_name, postid=note.post_id) }}">View post</a>
                    }}
                </div>
            {% else %}
                <div class="col-12 border border-dark">
                    You were tipped with Bitcoin Cash (BCH) on your post!
                    <a href="{{ url_for('subforum.viewpost',subname=note.subcommon_name, postid=note.post_id) }}">View post</a>
                </div>
            {% endif %}
            <!--Comment BCH was tipped-->
        {% elif note.msg_type == 21 %}
            {% if note.read == 1 %}
                <div class="col-12">
                    You were tipped with Bitcoin Cash (BCH) for your comment!
                    <a href="{{ url_for('subforum.viewpost',subname=note.subcommon_name, postid=note.post_id) }}">View comment</a>
                    }}
                </div>
            {% else %}
                <div class="col-12 border border-dark">
                    You were tipped with Bitcoin Cash (BCH) for your comment!
                    <a href="{{ url_for('subforum.viewpost',subname=note.subcommon_name, postid=note.post_id) }}">View comment</a>
                </div>
            {% endif %}


            <!--# 25 subforum owner got a tip in bitcoin-->
        {% elif note.msg_type == 25 %}
            {% if note.read == 1 %}
                <div class="col-12">
                    Your room made a profit in Bitcoin:
                    <a href="{{ url_for('subforum.viewpost',subname=note.subcommon_name, postid=note.post_id) }}">
                        Post # {{ note.post_id }}
                    </a>
                </div>
            {% else %}
                <div class="col-12 border border-dark">
                    YYour room made a profit in Bitcoin:
                    <a href="{{ url_for('subforum.viewpost',subname=note.subcommon_name, postid=note.post_id) }}">
                        Post # {{ note.post_id }}
                    </a>
                </div>
            {% endif %}
            <!--# 26 subforum owner got a tip in bitcoin cash-->
        {% elif note.msg_type == 26 %}
            {% if note.read == 1 %}
                <div class="col-12">
                    Your room made a profit in Bitcoin Cash:
                    <a href="{{ url_for('subforum.viewpost',subname=note.subcommon_name, postid=note.post_id) }}">
                        Post # {{ note.post_id }}
                    </a>
                </div>
            {% else %}
                <div class="col-12 border border-dark">
                    Your room made a profit in Bitcoin Cash:
                    <a href="{{ url_for('subforum.viewpost',subname=note.subcommon_name, postid=note.post_id) }}">
                        Post # {{ note.post_id }}
                    </a>
                </div>
            {% endif %}
            <!--# 27 subforum owner got a tip in monero-->
        {% elif note.msg_type == 27 %}
            {% if note.read == 1 %}
                <div class="col-12">
                    Your room made a profit in Monero:
                    <a href="{{ url_for('subforum.viewpost',subname=note.subcommon_name, postid=note.post_id) }}">
                        Post # {{ note.post_id }}
                    </a>
                </div>
            {% else %}
                <div class="col-12 border border-dark">
                    Your room made a profit in Monero:
                    <a href="{{ url_for('subforum.viewpost',subname=note.subcommon_name, postid=note.post_id) }}">
                        Post # {{ note.post_id }}
                    </a>
                </div>
            {% endif %}
        <!--# 30 Comment on a Comment -->
        {% elif note.msg_type == 30 %}
            {% if note.read == 1 %}
                <td class="col-12">
                    There was a reply to your
                    <a href="{{ url_for('subforum.viewpost',subname=note.subcommon_name, postid=note.post_id) }}">
                        comment.
                    </a>
                </td>
            {% else %}
                <td class="col-12 border border-dark">
                    There was a reply to your
                    <a href="{{ url_for('subforum.viewpost',subname=note.subcommon_name, postid=note.post_id) }}">
                        comment.
                    </a>
                </td>
            {% endif %}

            <!--# New Message-->
        {% elif note.msg_type == 50 %}
            {% if note.read == 1 %}
                <div class="col-12">
                    You have a new <a href="{{ url_for('message.view_message', msgid=note.post_id) }}"> Message.</a>
                </div>
            {% else %}
                <div class="col-12 border border-dark">
                    You have a new <a href="{{ url_for('message.view_message', msgid=note.post_id) }}"> Message.</a>
                </div>
            {% endif %}


        {% elif note.msg_type == 51 %}
            {% if note.read == 1 %}
                <div class="col-12">
                    You have a
                    <a href="{{ url_for('message.view_message', msgid=note.post_id) }}">
                        reply
                    </a>
                    to your message.
                </div>
            {% else %}
                <div class="col-12 border border-dark">
                    You have a
                    <a href="{{ url_for('message.view_message', msgid=note.post_id) }}">reply </a>
                    to your message.
                </div>
            {% endif %}


        {% elif note.msg_type == 52 %}
            {% if note.read == 1 %}
                <div class="col-12">
                    You business has a new
                    <a href="{{ url_for('message.view_message', msgid=note.post_id) }}">
                        message.
                    </a>
                </div>
            {% else %}
                <div class="col-12 border border-dark">
                    You business has a new
                    <a href="{{ url_for('message.view_message', msgid=note.post_id) }}">
                        message.
                    </a>
                </div>
            {% endif %}

        {% elif note.msg_type == 53 %}
            {% if note.read == 1 %}
                <div class="col-12">
                    You business has a new
                    <a href="{{ url_for('message.view_message', msgid=note.post_id) }}">
                        reply </a>
                    to a message.
                </div>
            {% else %}
                <div class="col-12 border border-dark">
                    You business has a new
                    <a href="{{ url_for('message.view_message', msgid=note.post_id) }}">
                        reply </a>
                    to a message.
                </div>
            {% endif %}



        {% elif note.msg_type == 54 %}
            {% if note.read == 1 %}
                <div class="col-12">
                    LEGAL has a new <a href="{{ url_for('legal.view_message', msgid=note.post_id) }}"> message.</a>
                </div>
            {% else %}
                <div class="col-12 border border-dark">
                    LEGAL has a new <a href="{{ url_for('legal.view_message', msgid=note.post_id) }}">message. </a>
                </div>
            {% endif %}


        {% elif note.msg_type == 55 %}
            {% if note.read == 1 %}
                <div class="col-12">
                    LEGAL has a new <a href="{{ url_for('legal.view_message', msgid=note.post_id) }}">reply. </a>
                </div>
            {% else %}
                <div class="col-12 border border-dark">
                    LEGAL has a new <a href="{{ url_for('legal.view_message', msgid=note.post_id) }}">reply. </a>
                </div>
            {% endif %}



        {% elif note.msg_type == 60 %}
            {% if note.read == 1 %}
                <div class="col-12">
                    Your <a href="{{ url_for('subforum.viewpost',subname=note.subcommon_name, postid=note.post_id) }}">post</a> was promoted with a tipvote coin!
                </div>
            {% else %}
                <div class="col-12 border border-dark">
                    Your <a href="{{ url_for('subforum.viewpost',subname=note.subcommon_name, postid=note.post_id) }}">post</a> was promoted with a tipvote coin!
                </div>
            {% endif %}


        {% elif note.msg_type == 61 %}
            {% if note.read == 1 %}
                <div class="col-12">
                    Your <a href="{{ url_for('subforum.viewpost',subname=note.subcommon_name, postid=note.post_id) }}">post</a> was promoted with bitcoin!
                </div>
            {% else %}
                <div class="col-12 border border-dark">
                    Your <a href="{{ url_for('subforum.viewpost',subname=note.subcommon_name, postid=note.post_id) }}">post</a> was promoted with bitcoin!
                </div>
            {% endif %}


        {% elif note.msg_type == 62 %}
            {% if note.read == 1 %}
                <div class="col-12">
                    Your <a href="{{ url_for('subforum.viewpost',subname=note.subcommon_name, postid=note.post_id) }}">post</a> was promoted with bitcoin cash!
                </div>
            {% else %}
                <div class="col-12 border border-dark">
                    Your <a href="{{ url_for('subforum.viewpost',subname=note.subcommon_name, postid=note.post_id) }}">post</a> was promoted with bitcoin cash!
                </div>
            {% endif %}



        {% elif note.msg_type == 100 %}
            {% if note.read == 1 %}
                <div class="col-12">
                    There was too little or too much Bitcoin sent for withdrawl and the wallet rejected it.
                </div>
            {% else %}
                <div class="col-12 border border-dark">
                    There was too little or too much Bitcoin sent for withdrawl and the wallet rejected it.
                </div>
            {% endif %}

        {% elif note.msg_type == 101 %}
            {% if note.read == 1 %}
                <div class="col-12">

                </div>
            {% else %}
                <div class="col-12 border border-dark">

                </div>
            {% endif %}

        {% elif note.msg_type == 102 %}
            {% if note.read == 1 %}
                <div class="col-12">
                    There was a Bitcoin wallet error.
                </div>
            {% else %}
                <div class="col-12 border border-dark">
                    There was a Bitcoin wallet error.
                </div>
            {% endif %}

        {% elif note.msg_type == 103 %}
            {% if note.read == 1 %}
                <div class="col-12">
                    You have a Bitcoin address error in your withdrawl.
                </div>
            {% else %}
                <div class="col-12 border border-dark">
                    You have a Bitcoin address error in your withdrawl.
                </div>
            {% endif %}


        {% elif note.msg_type == 104 %}
            {% if note.read == 1 %}
                <div class="col-12">
                    Your Bitcoin withdraw was successful.
                </div>
            {% else %}
                <div class="col-12 border border-dark">
                    Your Bitcoin withdraw was successful.
                </div>
            {% endif %}


        {% elif note.msg_type == 105 %}
            {% if note.read == 1 %}
                <div class="col-12">
                    You have a new incomming Bitcoin deposit.
                </div>
            {% else %}
                <div class="col-12 border border-dark">
                    You have a new incomming Bitcoin deposit.
                </div>
            {% endif %}





        {% elif note.msg_type == 200 %}
            {% if note.read == 1 %}
                <div class="col-12">
                    There was too little or too much Bitcoin Cash sent for withdrawl and the wallet rejected it.
                </div>
            {% else %}
                <div class="col-12 border border-dark">
                    There was too little or too much Bitcoin Cash sent for withdrawl and the wallet rejected it.
                </div>
            {% endif %}

        {% elif note.msg_type == 201 %}
            {% if note.read == 1 %}
                <div class="col-12">

                </div>
            {% else %}
                <div class="col-12 border border-dark">

                </div>
            {% endif %}

        {% elif note.msg_type == 202 %}
            {% if note.read == 1 %}
                <div class="col-12">
                    There was a Bitcoin Cash wallet error.
                </div>
            {% else %}
                <div class="col-12 border border-dark">
                    There was a Bitcoin Cash wallet error.
                </div>
            {% endif %}

        {% elif note.msg_type == 203 %}
            {% if note.read == 1 %}
                <div class="col-12">
                    You have a Bitcoin Cash address error in your withdrawl.
                </div>
            {% else %}
                <div class="col-12 border border-dark">
                    You have a Bitcoin Cash address error in your withdrawl.
                </div>
            {% endif %}


        {% elif note.msg_type == 204 %}
            {% if note.read == 1 %}
                <div class="col-12">
                    Your Bitcoin Cash withdraw was successful.
                </div>
            {% else %}
                <div class="col-12 border border-dark">
                    Your Bitcoin Cash withdraw was successful.
                </div>
            {% endif %}


        {% elif note.msg_type == 205 %}
            {% if note.read == 1 %}
                <div class="col-12">
                    You have a new incomming Bitcoin Cash deposit.
                </div>
            {% else %}
                <div class="col-12 border border-dark">
                    You have a new incomming Bitcoin Cash deposit.
                </div>
            {% endif %}


        {% elif note.msg_type == 300 %}
            {% if note.read == 1 %}
                <div class="col-12">
                    There was too little or too much Monero sent for withdrawl and the wallet rejected it.
                </div>
            {% else %}
                <div class="col-12 border border-dark">
                    There was too little or too much Monero sent for withdrawl and the wallet rejected it.
                </div>
            {% endif %}

        {% elif note.msg_type == 301 %}
            {% if note.read == 1 %}
                <div class="col-12">

                </div>
            {% else %}
                <div class="col-12 border border-dark">

                </div>
            {% endif %}

        {% elif note.msg_type == 302 %}
            {% if note.read == 1 %}
                <div class="col-12">
                    There was a Monero wallet error.
                </div>
            {% else %}
                <div class="col-12 border border-dark">
                    There was a Monero wallet error.
                </div>
            {% endif %}

        {% elif note.msg_type == 303 %}
            {% if note.read == 1 %}
                <div class="col-12">
                    You have a Monero address error in your withdrawl.
                </div>
            {% else %}
                <div class="col-12 border border-dark">
                    You have a Monero address error in your withdrawl.
                </div>
            {% endif %}


        {% elif note.msg_type == 304 %}
            {% if note.read == 1 %}
                <div class="col-12">
                    Your Monero withdraw was successful.
                </div>
            {% else %}
                <div class="col-12 border border-dark">
                    Your Monero withdraw was successful.
                </div>
            {% endif %}


        {% elif note.msg_type == 305 %}
            {% if note.read == 1 %}
                <div class="col-12">
                    You have a new incomming Monero deposit.
                </div>
            {% else %}
                <div class="col-12 border border-dark">
                    You have a new incomming Monero deposit.
                </div>
            {% endif %}
        {% elif note.msg_type == 307 %}
            {% if note.read == 1 %}
                <div class="col-12">
                    Bad Monero address given
                </div>
            {% else %}
                <div class="col-12 border border-dark">
                    Bad Monero address given
                </div>
            {% endif %}

        {% else %}
        {% endif %}
    </div>
</div>

