{% extends "layout/layout_msg.html" %}
{% block content %}

    <div class="col-12 second_color">

        <div class="col-12 text-center"><h5>Create a Message</h5></div>


        <form method="post" action="{{ url_for('message.create_message') }}">
            {{ form.csrf_token }}
            <div class="form-group row">
                <label  class="col-md-4 col-form-label text-md-right">To:</label>
                <div class="col-md-6">
                      {{ render_field(form.user_name,   class="form-control bg-dark text-white") }}
                </div>
            </div>
            <div class="form-group row">
                <label  class="col-md-4 col-form-label text-md-right">Message</label>
                <div class="col-md-6">
                    {{ render_field( form.postmessage,  class="form-control bg-dark text-white") }}
                </div>
            </div>
            <hr>

            <div class="col-md-6 offset-md-4 ">
                {{ render_field(form.submit,  value="Send", autocomplete="off",
                            class="btn btn-dark ") }}
                <br>
                <br>

            </div>

        </form>

    </div>

{% endblock %}