
    Hello {{ user.username }}
    Your account has been locked on Tipvote for security reasons.
    Please visit the url below to unlock your account.  It will send a confirmation email with a link to click.

    <p>

    </p>
    <a href="{{ password_reset_url }}">{{ password_reset_url }}</a>
    <p>
    --<br>
    Questions? Comments? www.tipvote.com/a/help
    </p>
    Remember Tipvote will do what it takes to defend your privacy.<br>
<br>
<br>
Do not reply to this email.  It is an automated message.