
Hello <b>{{ user.username }}</b>,<br>
You have signed up for Tipvote and need to confirm your account.  This needs to be done to access your wallet.
Use the link below to confirm your account. <br><br>

<a href="{{ password_reset_url }}">{{ password_reset_url }}</a>
<br>
<p>
Link not working? Try <a href="https://www.tipvote.com/users/resend">Sending another email</a>
    or ask for help under www.tipvote.com/a/help
</p>
<br>
<br>
Remember Tipvote will do what it takes to defend your privacy.<br>
<br>
<br>
Do not reply to this email.  It is an automated message.