{% extends "layout/layout_account.html" %}
{% block content %}
    <div class="col-12">
        <div class="row justify-content-center second_color">
    <form method="post">
        {{ form.csrf_token }}

        <div class="form-group row">
            <label  class="col-12 col-form-label">Current Pin</label>
            <div class="col-12">
                {{ render_field(form.currentpin, placeholder="Current Pin", autocomplete="off", class="form-control bg-dark text-white")  }}
            </div>
        </div>

        <div class="form-group row">
            <label  class="col-12 col-form-label">New Pin</label>
            <div class="col-12">
                {{ render_field(form.newpin1, placeholder="New Pin", autocomplete="off", class="form-control bg-dark text-white")  }}
            </div>
        </div>
        <div class="form-group row">
            <label  class="col-12 col-form-label">Re-Enter pin</label>
            <div class="col-12">
                {{ render_field(form.newpin2, placeholder="Confirm Pin", autocomplete="off", class="form-control bg-dark text-white")  }}
            </div>
        </div>
        <hr>
        <div class="col-12 text-center">
            {{ render_field(form.submit,  value="Update Pin", autocomplete="off", class="btn bg-dark text-white")  }}

        </div>
        <div class="col-12 text-center mt-5 mb-5">
                <a href="{{ url_for('users.retrievepin') }}">Lost your pin?</a>
            </div>
    </form>
        </div>
</div>

{% endblock %}