
{% extends "layout/layout_account.html" %}
{% block content %}
    <div class="col-12">
        <div class="row justify-content-center second_color">
            <form method="post">
                {{ form.csrf_token }}

                <div class="form-group row">
                    <label class="col-12 col-form-label">Current Password</label>
                    <div class="col-12">
                        {{ render_field(form.currentpassword, placeholder="user_name", autocomplete="off", class="form-control bg-dark text-white") }}
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-12 col-form-label">New Password</label>
                    <div class="col-12">
                        {{ render_field(form.newpassword, placeholder="Password", autocomplete="off", class="form-control bg-dark text-white")  }}
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-12 col-form-label">Re-Enter Password</label>
                    <div class="col-12">
                        {{ render_field(form.newpasswordtwo, placeholder="Password", autocomplete="off", class="form-control bg-dark text-white")  }}
                    </div>
                </div>

                <hr>
                <div class="col-12 text-center">
                    {{ render_field(form.submit,  value="Update Password", autocomplete="off", class="btn bg-dark text-white") }}

                </div>

                <div class="col-12 text-center mt-5 mb-5">
                    <a href="{{ url_for('users.retrievepassword') }}">Lost your password?</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
