{% extends "layout/layout_account.html" %}
{% block content %}
    <div class="col-12 second_color">

        <form method="post"
              action="{{ url_for('users.deleteallcommentsconfirm') }}">
            {{ deleteform.csrf_token }}
            <div class="form-group w-100">

                <div class="col-12">
                    <div class="text-center">
                        <h3>
                        {{ current_user.user_name }}
                    </h3>
                    By clicking confirm, all your comment texts will be
                        replaced with "deleted"
                        </div>
                </div>
            </div>


            <hr>
            <div class="col-12 text-center">
                {{ render_field(deleteform.submit,
                 value="CONFIRM DELETE MY COMMENTS",
                 autocomplete="off",
                 class="btn btn-danger ") }}
            </div>
        </form>

    </div>

{% endblock %}