{% extends "layout/layout_account.html" %}
{% block content %}

    <div class="col-12 second_color p-3">
        <form method="post" action="{{ url_for('users.accountformpost') }}">
            {{ accountform.csrf_token }}
            <div class="form-group row">
                <label class="col-12 col-form-label">Over 18 year of age?
                    By checking this box you agree that you are of age to
                    view NSFW content such as sexuality, violence, etc..
                </label>
                <div class="col-12 text-center mb-3">
                    {{ render_field(accountform.age,
                      autocomplete="off",
                     class="form-check-input darkbg ") }}
                </div>
            </div>
            <div class="col-12 text-center">
                {{ render_field(accountform.submit,
                  value="Submit",
                  autocomplete="off",
                  class="btn btn-dark ") }}

            </div>

        </form>
    </div>

    <div class="col-12 second_color p-3 mt-5">
        <div class="col-12 text-center h5">Select a color theme</div>
        <form method="post" action="{{ url_for('users.changetheme') }}">
            {{ themeform.csrf_token }}
            <div class="form-group row">
                <label class="col-12 col-form-label">
                </label>
                <div class="col-12 text-left mb-3 p-3">
                    {{ render_field(themeform.theme_one) }}
                </div>
            </div>



            <div class="col-12 text-center">
                {{ render_field(themeform.submit,
                  value="Submit",
                  class="btn btn-dark ") }}

            </div>

        </form>

        <div class="col-12  p-3 mt-5">
            <div class="col-12 text-center h5">Select a Panel display theme</div>
            <div class="row pr-2">

                <div class="col-12 ">
                    <div class="row">
                        <a class="col-12 mt-2 mb-2 p-0" href="{{ url_for('users.changestyle', choice=1) }}">
                            <div class="col-12 pt-2 pb-2 btn-ee  ">
                                <i class=" fab fa-reddit fa-2x" style="color: #808183"></i>
                                <div class="font-weight-bold" style="display: inline">
                                    Reddit Style
                                </div>
                            </div>
                        </a>
                        <a class="col-12 mt-2 mb-2 p-0" href="{{ url_for('users.changestyle', choice=2) }}">
                            <div class="col-12 pt-2 pb-2 btn-ee  ">
                                <i class="fab fa-facebook-f fa-2x" style="color: #808183"></i>
                                <div class="font-weight-bold " style="display: inline;">
                                    Facebook Style
                                </div>
                            </div>
                        </a>


                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}