{% extends "layout/layout_plain.html" %}
{% block content %}
    <div class="col-12 col-sm-6 offset-sm-3">
        <div class="row justify-content-center second_color">
            <div class="col-12 text-center">
                Set a 6 digit (numbers only) wallet pin for security.  It is used for withdrawl.
            </div>
            <form method="post">
                {{ form.csrf_token }}


                <div class="form-group row">
                    <label  class="col-12 col-form-label">New 6 digit Pin</label>
                    <div class="col-12">
                        {{ render_field(form.newpin1, placeholder="New Pin", autocomplete="off", class="form-control darkbg ")  }}
                    </div>
                </div>
                <div class="form-group row">
                    <label  class="col-12 col-form-label">Re-Enter pin</label>
                    <div class="col-12">
                        {{ render_field(form.newpin2, placeholder="Confirm Pin", autocomplete="off", class="form-control darkbg ")  }}
                    </div>
                </div>
                <hr>
                <div class="col-12 text-center">
                    {{ render_field(form.submit,  value="Set Pin", autocomplete="off", class="btn btn-dark ")  }}

                </div>
            </form>
        </div>
    </div>

    <div class="col-12 col-sm-6 offset-sm-3 third_color mt-5" style="font-size: 20px">
        Please Note:  Any large amounts will be flagged for KYC(know your customer).  You will need to provide proof
        of ID in order to use the wallet.  We are obliged to follow all laws within our country.

        Protip: It is best to not keep large amounts of coin on any website.
    </div>

{% endblock %}