<div class="col-12 headercolor mt-2 pb-1 pt-1">
    <div class="col-12 text-center">
        <h4>Monero Wallet</h4>
    </div>
    <div class="col-12 text-left">
        <b>Deposit Funds</b>
    </div>


    <div class="col-12 text-center" style="font-size: 12px;">
        To deposit funds send Monero to the address below.
        The balance will appear after 11 confirmations.
        <br>
        <div style="color: red">
            The minimum amount for the deposit is {{ wfee|btctostring }} Monero if the
            amount is below the limit it will not be added.
        </div>
    </div>

    <div class="col-12 text-center mt-3 mb-3 p-0">
        Monero Address <br>
        {% if wallet.address1 == '' %}
            <p class="font-weight-bold" style="font-size: 10px;">Wallet is being created </p>
        {% else %}
        <div class="col-12 text-center mt-4 mb-2">
            <img alt='' src="{{ qrcode(wallet.address1) }}" width="200px" height="200px;">
        </div>
            <div class="d-sm-none">
                <div class="moneroorange p-0" style="font-size: 7px">
                    {{ wallet.address1 }}
                </div>
            </div>
            <div class="">
                <div class="moneroorange p-0 d-none d-md-block" style="font-size:8px">
                    {{ wallet.address1 }}
                </div>
            </div>

        {% endif %}
    </div>
</div>