<div class="col-12 mt-2 text-white headercolor pb-1 pt-1 pr-0 pl-0 ml-0 mr-0 overflow-hidden">
    <div class="col-12 text-center mt-3 mb-4">
        <b>Withdrawl and Deposit History</b>
    </div>

    {% if transactcount >= 1 %}
        <div class="d-none d-md-block">
            <div class="row mb-4">
                <!-- set columns-->
                <div class="col-12 col-sm-12 col-md-2">Age</div>
                <div class="col-12 col-sm-3 col-md-3">Description</div>
                <div class="col-12 col-sm-3 col-md-3">Coin</div>
                <div class="col-12 col-sm-3 col-md-3">Balance</div>
            </div>
        </div>

        {% for t in transact %}
            <div class="row border border-dark third_color mb-1">


                <!--First column: Time/DATE-->
                <div class="col-12 col-sm-12 col-md-2 text-center mb-2">
                    {{ moment(timestamp=t.created).fromNow(refresh=True) }}
                </div>

                <!--Second column: Description-->
                <div class="col-12 col-sm-3 col-md-3 text-center">

                    {%  if t.category == 1 %}
                    <!--Wallet Created-->
                        <br>

                    {%  elif t.category == 2 %}
                    <!--Money sent offsite-->
                        Withdrawl<br>
                        {% if t %}
                            {% if t.confirmations >= 7 %}
                                <div style="font-size:10px;">
                                    Fee: {{ t.fee }}
                                </div>
                                {% if t.commentbtc %}
                                    <br>{{ t.note }}
                                {% endif %}
                            {% else %}
                                <div style="font-size:10px;">
                                    Fee: {{ t.fee }}
                                </div>
                                {% if t.commentbtc %}
                                    <br>{{ t.note }}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        <br>

                    {% elif t.category == 3 %}
                     <!--Deposit from offsite-->
                        Deposit
                        {% if t %}
                            {% if t.confirmations >= 11 %}
                                <div class="text-success">Confirmed</div><br>
                            {% else %}
                                Confirmations: {{ t.confirmations }}<br>
                            {% endif %}
                        {% endif %}

                    {% elif t.category == 4 %}
                     <!--Money sent to tip a comment-->
                        Sent Comment tip to
                        <a href="{{ url_for('profile.main',user_name=t.senderid|user_name) }}">
                            {{ t.senderid|user_name }}
                        </a>

                    {% elif t.category == 5 %}
                    <!--Money recieved from a comment-->
                        Recieved comment tip
                        <a href="{{ url_for('profile.main',user_name=t.senderid|user_name) }}">
                            {{ t.senderid|user_name }}
                        </a>

                    {% elif t.category == 6 %}
                    <!--Money sent to tip a post-->
                        Sent tip to post
                        <a href="{{ url_for('profile.main',user_name=t.senderid|user_name) }}">
                            {{ t.senderid|user_name }}
                        </a>

                    {% elif t.category == 7 %}
                    <!--Money recieved from a post-->
                        Recieved tip from post
                        <a href="{{ url_for('profile.main',user_name=t.senderid|user_name) }}">
                            {{ t.senderid|user_name }}
                        </a>
                        <br>

                    {% elif t.category == 8 %}
                    <!--Money recieved from a promotion-->
                        Promoted post #
                        <a href="{{ url_for('subforum.viewpost',subname=t.commentbtc, postid=t.orderid) }}">
                            {{ t.orderid }}
                        </a>
                        <br>

                    {% elif t.category == 9 %}
                    <!--subowner got part of a post tip-->
                        Profit from a tip in your room!
                        {% if t.note %}
                            <a href="{{ url_for('subforum.viewpost',subname=t.commentbtc, postid=t.orderid) }}">
                                post#  {{ t.orderid }}
                            </a>
                        {% endif %}
                        <br>

                    {%  elif t.category == 10 %}
                    <!--subowner got part of a comment tip-->
                        Profit from a tip in your room!
                        {% if t.note %}

                            <a href="{{ url_for('profile.main',user_name=t.senderid|user_name) }}">
                                comment#{{ t.commentbch }}
                            </a>
                        {% endif %}
                        <br>

                    {% else %}
                        {% if t.orderid %}
                            {{ t.amount }}<br><br>
                        {% endif %}
                    {% endif %}
                </div>





                <!--Third column: Amount-->
                <div class="col-12 col-sm-3 col-md-3 text-center">

                    {% if t.category == 1 %}
                    <!--Wallet Created-->
                        --

                    {% elif t.category == 2 %}
                    <!--Money sent offsite-->
                        Amount:
                        -{{ t.amount|xmrtostring }}

                    {% elif t.category == 3 %}
                    <!--Deposit from offsite-->
                        Amount:
                        <p class="text-success">{{ t.amount|xmrtostring }}</p>

                    {% elif t.category == 4 %}
                     <!--Money sent to tip a comment-->
                        Amount:
                        <p class="text-danger">-{{ t.amount|xmrtostring }}</p>

                    {% elif t.category == 5 %}
                    <!--Money recieved from a comment-->
                        Amount:
                        <p class="text-success">{{ t.amount|xmrtostring }}</p>

                    {% elif t.category == 6 %}
                    <!--Money sent to tip a post-->
                        Amount:
                        <p class="text-danger">-{{ t.amount|xmrtostring }}</p>

                    {% elif t.category == 7 %}
                    <!--Money recieved from a post-->
                        Amount:
                        <p class="text-success">{{ t.amount|xmrtostring }}</p>

                    {% elif t.category == 8 %}
                    <!--website profit-->
                        Amount:
                        <p class="text-danger">-{{ t.amount|xmrtostring }}</p>

                    {% elif t.category == 9 %}
                    <!--subowner got part of a post tip-->
                        Amount:<p class="text-success">{{ t.amount|xmrtostring }}</p>

                    {% elif t.category == 10 %}
                    <!--subowner got part of a comment tip-->
                        Amount:<p class="text-success">{{ t.amount|xmrtostring }}</p>

                    {% else %}
                        Amount:
                        {% if 0 <= t.amount > 0.0001 %}
                            {{ t.amount }}
                        {% else %}
                            {{ t.amount|xmrtostring }}
                        {% endif %}
                    {% endif %}
                </div>



                <!--Fourth column: User balance-->
                <div class="col-12 col-sm-3  col-md-3 text-center">

                    {% if t.category == 1 %}
                    <!--wallet created no data-->

                    {% elif t.category == 2 %}
                     <!--Money sent offsite-->
                        Balance:
                        {{ t.balance|xmrtostring }}

                    {% elif t.category == 3 %}
                    <!--Deposit from offsite-->
                        Balance:
                        {% if t.confirmed == 0 %}
                            {% if t.balance == 0 %}
                                0 + {{ t.amount }}
                            {% else %}
                                {{ t.balance - t.amount}} + {{ t.amount }}
                            {% endif %}
                        {% else %}
                            {{ t.balance }}
                        {% endif %}

                    {% elif t.category == 4 %}
                    <!--Money sent to tip a comment-->
                        Balance:
                        {% if 0 <= t.balance >= 0.0001 %}
                            {{ t.balance }}
                        {% else %}
                            {{ t.balance|xmrtostring }}
                        {% endif %}

                    {% elif t.category == 5 %}
                    <!--Money recieved from a comment-->
                        Balance:
                        {% if 0 <= t.balance >= 0.0001 %}
                            {{ t.balance }}
                        {% else %}
                            {{ t.balance|xmrtostring }}
                        {% endif %}

                    {% elif t.category == 6 %}
                    <!--Money sent to tip a post-->
                        Balance:
                        {% if 0 <= t.balance >= 0.0001 %}
                            {{ t.balance }}
                        {% else %}
                            {{ t.balance|xmrtostring }}
                        {% endif %}

                    {% elif t.category == 7 %}
                    <!--Money recieved from a post-->
                        Balance:
                        {% if 0 <= t.balance >= 0.0001 %}
                            {{ t.balance }}
                        {% else %}
                            {{ t.balance|xmrtostring }}
                        {% endif %}

                    {% elif t.category == 8 %}
                    <!--promoted a post-->
                        Balance:
                        {% if 0 == t.balance %}
                            0
                        {% else %}
                            {{ t.balance|xmrtostring }}
                        {% endif %}

                    {% elif t.category == 9 %}
                    <!--subowner got part of a post tip-->
                        Balance:{% if 0 == t.balance %}
                        0
                    {% else %}
                        {{ t.balance|xmrtostring }}
                    {% endif %}


                    {% elif t.category == 10 %}
                    <!--subowner got part of a comment tip-->
                        Balance:{% if 0 == t.balance %}
                        0
                    {% else %}
                        {{ t.balance|xmrtostring }}
                    {% endif %}
                    {% else %}
                        Balance:
                        {% if 0 <= t.balance >= 0.0001 %}
                            {{ t.balance }}
                        {% else %}
                            {{ t.balance|xmrtostring }}
                        {% endif %}
                    {% endif %}
                </div>
                {% if t.txid %}
                    <div class="col-12 text-center" style="font-size: 11px">
                        TXID<br> {{ t.txid }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}

        <div class="row mt-5">
            <div class="col-12 text-center justify-content-center">
                {% if prev_url %}
                    <a class="btn btn-warning btn-sm" type="button" href="{{ prev_url }}">
                        Newer Transactions
                    </a>
                {% endif %}
                {% if next_url %}
                    <a class="btn btn-warning btn-sms" type="button" href="{{ next_url }}">
                        Older Transactions
                    </a>
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="col-12 text-center"></div>
    {% endif %}
</div>