
<div class="col-12 headercolor mt-2 pb-1 pt-1">
    <div class="col-12 text-left mt-3">
        <b>Withdraw Funds</b>
    </div>
    <div class="col-12 text-center">You have {{ wallet.currentbalance|btctostring }}

        <div class="col-12">

            <form method="post" action="{{ url_for('wallet_xmr.sendcoin') }}">
                {{ form.csrf_token }}

                <div class="row mb-3">
                    <label for="email_address" class="col-md-4 col-form-label ">XMR Address</label>
                    <div class="col-12">
                        {{ render_field(form.sendto,autocomplete="off", class="form-control darkbg ") }}
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="password" class="col-md-4 col-form-label ">Amount</label>
                    <div class="col-8 col-md-4">
                        {{ render_field(form.amount, autocomplete="off", class="form-control darkbg ")  }}
                    </div>
                </div>
                <div class=" row mb-3">
                    <label  class="col-md-4 col-form-label">Pin</label>
                    <div class="col-8 col-md-3">
                        {{ render_field(form.pin,  autocomplete="off", class="form-control darkbg ")  }}
                    </div>
                </div>

                <div class="col-12 text-center mt-5 mb-5" style="font-size: 12px">Current Fee: {{ wfee|btctostring }} XMR</div>
                <div class="col-md-2 offset-md-5 mt-2">
                    {{ render_field(form.submit,  value="Withdraw", autocomplete="off", class="btn btn-success ") }}


                </div>
                <div class="col-12 text-center mt-5">
                           <a href="{{ url_for('users.retrievepin') }}">Lost your pin?</a>
                </div>
            </form>
        </div>
    </div>
</div>