<style>
    .sticky-top {
        position: -webkit-sticky; /* Safari */
        position: relative;
        top: 25px;
        width: 100%;
    }
    .dropdown-height {
        height:450px;
        overflow-y: scroll;
    }

</style>

<div class="container-fluid headercolor"  style="margin-bottom: 88px">

    <div class="row  pb-1 pt-1 sticky-top headercolor" style="min-height: 30px">
        {#        {% include 'layout/headers/_stats_header.html' %}#}
        <div class="col-1 col-md-3 col-lg-2 col-xl-2 pt-2" style="white-space: nowrap; display: inline-block;">
            <a href="{{ url_for('index') }}">
                <img class="pl-2" src="{{ url_for('static', filename='images/logo.png')  }}">
            </a>
        </div>


        {% if current_user.is_authenticated %}
            <div class="col-md-2 col-xl-2 pt-2">

                <div class="dropdown d-inline " >
                    <button class="btn btn-dark dropdown-toggle w-100"
                            type="button"
                            id="dropdownMenuButton"
                            data-toggle="dropdown"
                            aria-haspopup="false"
                            aria-expanded="false">
                        <i class="fas fa-door-closed text-white"></i>
                        Rooms
                    </button>


                    <div class="dropdown-menu dropdown-menu-left darkbg mt-0 mb-0 pt-0 pb-0 border  dropdown-height"
                         style="width: 300px">
                        <div class="col-12 second_color m-0">
                            <div class="row ">
                                <div class="col-12 mb-4 mt-4 font-weight-bold">Navigate</div>

                                <a class="col-12  font-weight-bold btn-ee mb-3"
                                   href="{{ url_for('index') }}">
                                    <div class="row btn-ee  pt-2 pb-2">
                                        <div class="col-3">
                                            <i class="fas fa-bars"></i>
                                        </div>
                                        <div class="col-9 pt-2  pl-0 " style="margin-top: -5px;">
                                            All
                                        </div>
                                    </div>
                                </a>

                                <a class="col-12  font-weight-bold btn-ee mb-3"
                                   href="{{ url_for('frontpage.frontpage_home') }}">
                                    <div class="row btn-ee  pt-2 pb-2">
                                        <div class="col-3">
                                            <i class="fas fa-home"></i>
                                        </div>
                                        <div class="col-9 pt-2  pl-0 " style="margin-top: -5px;">
                                            FrontPage
                                        </div>
                                    </div>
                                </a>

                                <a class="col-12  font-weight-bold btn-ee mb-3"
                                   href="{{ url_for('discoversubs') }}">
                                    <div class="row btn-ee  pt-2 pb-2">
                                        <div class="col-3">
                                            <i class="fas fa-asterisk"></i>

                                        </div>
                                        <div class="col-9 pt-2  pl-0 " style="margin-top: -5px;">
                                            Discover New Rooms
                                        </div>
                                    </div>
                                </a>


                                <div class="col-12 mb-4 mt-4 font-weight-bold">Rooms</div>



                                {% for subs in usersubforums %}
                                    {% if subs %}
                                        <a class="col-12  font-weight-bold btn-ee mb-3"
                                           href="{{ url_for('subforum.sub',subname=subs.subscriber.subcommon_name) }}">
                                            {% if subs.subscriber.mini_image == '' %}
                                                <div class="row btn-ee  pt-2 pb-2">
                                                    <div class="col-3">
                                                        <span class="dot" style="background-color: #1e90ff;"></span>
                                                    </div>
                                                    <div class="col-9 pt-2  pl-0 " style="margin-top: -5px;">
                                                        {{ subs.subscriber.subcommon_name }}
                                                    </div>
                                                </div>
                                            {% else %}
                                                <div class="row btn-ee  pt-2 pb-2 ">
                                                    <div class="col-3">
                                                        <img class="rndimg"
                                                             src="{{ url_for('common.banner_image',
                                                 filename=subs.subscriber.mini_image) }}"
                                                             width="20px">
                                                    </div>
                                                    <div class="col-9 pl-0 ">
                                                        {{ subs.subscriber.subcommon_name }}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-1 col-lg-2 col-xl-3 pr-0 pl-0">

            </div>


            <div class="col-md-6 col-lg-5 col-xl-4 justify-content-end pl-0 pr-2" style="display: inline">
                <div class="row justify-content-end pl-0 pr-0">


                    <a class="btn btn-header pt-2 "
                       href="{{ url_for('profile.main', user_name=current_user.user_name) }}">
                        {% if current_user.profileimage == '' %}
                            <img class="img-responsive "
                                 src="{{ url_for('static', filename='images/noprofile.png')  }}"
                                 width="25x" height="25px">
                        {% else %}
                            <img class="img-responsive"
                                 src="{{ url_for('common.profile_image',filename=current_user.profileimage) }}"
                                 width="25" height="25px">
                        {% endif %}
                        {% if current_user.is_authenticated %}
                            <br><div class="text-white ">{{ current_user.user_name }}</div>
                        {% else %}
                            <br><div class="text-white">Profile</div>
                        {% endif %}
                    </a>



                    <div class="pl-2 pr-1">
                        {% if themsgs %}
                            {% if themsgs == 0 %}
                                <a class="btn btn-header pt-2" href="{{ url_for('message.main') }}"> <i class="fa fa-envelope
                                 fa-lg text-white text-center"></i>
                                    <br><div class="text-white">Messages</div>
                                </a>
                            {% else %}
                                <a class="btn btn-warning  pt-2" href="{{ url_for('message.main') }}"><i class="fa fa-envelope
                                 fa-lg text-white text-center"></i>
                                    <br><div class="text-white">Messages</div>
                                </a>
                            {% endif %}
                        {% else %}
                            <a class="btn btn-header  pt-2" href="{{ url_for('message.main') }}"><i class="fa fa-envelope
                             fa-lg text-white text-center"></i>
                                <br><div class="text-white">Messages</div>
                            </a>
                        {% endif %}

                    </div>



                    <div class="pl-2 pr-1">
                        <div class="dropdown ">
                            <button class="btn btn-header justify-content-center pl-2 text-white"
                                    type="button"
                                    id="dropdownMenuButton"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false">
                                <i class="fab fa-btc pr-2 fa-lg text-white pt-2"></i>
                                <br><div class="text-white">Wallets</div>
                            </button>

                            <div class="dropdown-menu dropdown-menu-right darkbg mt-0 mb-0 pt-0 pb-0 border "
                                 aria-labelledby="dropdownMenuLink"
                                 style="width: 300px">
                                <div class="col-12 second_color">
                                    <div class="row">
                                        <a class="col-12 mt-2 mb-2 p-0" href="{{ url_for('wallet_btc.home') }}">
                                            <div class="col-12 pt-2 pb-2 btn-ee  ">
                                                <img src="{{ url_for('static', filename='images/coins/btc/btc_small.png')  }}"
                                                     width="20px" height="20px">
                                                <b>Bitcoin Wallet</b>
                                            </div>
                                        </a>
                                        <a class="col-12 mt-2 mb-2 p-0" href="{{ url_for('wallet_bch.home') }}">
                                            <div class="col-12 pt-2 pb-2 btn-ee  ">
                                                <img src="{{ url_for('static', filename='images/coins/bch/bch_small.png')  }}"
                                                     width="20px" height="20px">
                                                <b>Bitcoin Cash Wallet</b>
                                            </div>
                                        </a>
                                        <a class="col-12 mt-2 mb-2 p-0" href="{{ url_for('wallet_xmr.home') }}">
                                            <div class="col-12 pt-2 pb-2 btn-ee  ">
                                                <img src="{{ url_for('static', filename='images/coins/xmr/xmr_small.png')  }}"
                                                     width="20px" height="20px">
                                                <b>Monero Wallet</b>
                                            </div>
                                        </a>
                                        <a class="col-12 mt-2 mb-2 p-0" href="{{ url_for('coins.bank') }}">
                                            <div class="col-12 pt-2 pb-2 btn-ee  ">
                                                <img src="{{ url_for('static', filename='images/coins/tipvote/1.png')  }}"
                                                     width="20px" height="20px">
                                                <b>Tipvote Coins</b>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>



                    <div class="pl-1 pr-1">
                        <div class="dropdown d-inline pl-1 pr-1 ">
                            {% if thenotescount %}
                                {% if thenotescount > 0 %}
                                    <button class="btn   text-white btn-danger pt-2"
                                            type="button"
                                            id="dropdownMenuButton"
                                            data-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false">
                                        <i class="fa fa-bell fa-lg pr-2 bg-danger"></i>
                                        {{ thenotescount }}
                                        <br><div class="text-white">Notifications</div>
                                    </button>
                                {% else %}
                                    <button class="btn  btn-header text-white pt-2"
                                            type="button"
                                            id="dropdownMenuButton"
                                            data-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false">
                                        <i class="fa fa-bell fa-lg pr-2 text-white"></i>
                                        <br><div class="text-white">Notifications</div>
                                    </button>
                                {% endif %}
                            {% else %}
                                <button class="btn  btn-header text-white pt-2"
                                        type="button"
                                        id="dropdownMenuButton"
                                        data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false">
                                    <i class="fa fa-bell fa-lg pr-2 text-white"></i>
                                    <br><div class="text-white">Notifications</div>
                                </button>
                            {% endif %}

                            <div class="dropdown-menu dropdown-menu-right second_color dropdown-content darkbg mt-0 mb-0 pt-0 pb-0 border  dropdown-height"
                                 aria-labelledby="dropdownMenuButton"
                                 style="width: 400px">
                                <div class="col-12 second_color">
                                    {% if thenotescount %}
                                        {% if thenotescount > 0 %}
                                            <a class=" mt-3"
                                               href="{{ url_for('message.markallnotifications', user_name=current_user.user_name) }}">
                                                <btn class="col-6 offset-3 btn btn-danger  mb-2 mt-4 p-2">
                                                    Mark All As Read
                                                </btn>
                                            </a>
                                        {% else %}
                                        {% endif %}
                                    {% endif %}

                                    {% for note in thenotes %}
                                        {% include 'msg/_notifications_dropdown.html' %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="dropdown  pr-2">
                        <button class="btn  btn-header  text-white "
                                type="button" id="dropdownMenuButton"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                            <i class="fa fa-bars fa-lg text-white pt-2"></i>
                            <br><div class="text-white">Settings</div>
                        </button>

                        <div class="dropdown-menu dropdown-menu-right darkbg   border "
                             aria-labelledby="dropdownMenuLink" style="width: 300px">
                            <div class="col-12 second_color">
                                <div class="row">
                                    <a class=" col-12 mt-2 mb-2 p-0" href="{{ url_for('profile.main', user_name=current_user.user_name) }}">
                                        <div class="col-12 pt-2 pb-2 btn-ee  ">
                                            View Profile
                                        </div>
                                    </a>

                                    <a class=" col-12 mt-2 mb-2 p-0" href="{{ url_for('users.account', user_name=current_user.user_name) }}">
                                        <div class="col-12 pt-2 pb-2 btn-ee  ">
                                            Account
                                        </div>
                                    </a>

                                    <a class=" col-12 mt-2 mb-2 p-0" href="{{ url_for('create.createsubforum') }}">
                                        <div class="col-12 pt-2 pb-2 btn-ee  ">
                                            Create a Room
                                        </div>
                                    </a>


                                    {% if current_user.color_theme == 3 %}
                                        <a class=" col-12 mt-2 mb-2 p-0" href="{{ url_for('users.quickchangetheme') }}">
                                            <div class="col-12 pt-2 pb-2 btn-ee  ">
                                                Light Mode
                                            </div>
                                        </a>
                                    {% else %}
                                        <a class=" col-12 mt-2 mb-2 p-0" href="{{ url_for('users.quickchangetheme') }}">
                                            <div class="col-12 pt-2 pb-2 btn-ee  ">
                                                Dark Mode
                                            </div>
                                        </a>
                                    {% endif %}


                                    <a class=" col-12 mt-2 mb-2 p-0" href="{{ url_for('users.changestyle', choice=1) }}">
                                        <div class="col-12 pt-2 pb-2 btn-ee  ">
                                            Reddit Theme
                                        </div>
                                    </a>
                                    <a class=" col-12 mt-2 mb-2 p-0" href="{{ url_for('users.changestyle', choice=2) }}">
                                        <div class="col-12 pt-2 pb-2 btn-ee  ">
                                            Facebook Theme
                                        </div>
                                    </a>
                                    <a class=" col-12 mt-2 mb-2 p-0" href="{{ url_for('profileedit.viewsavedposts') }}">
                                        <div class="col-12 pt-2 pb-2 btn-ee  ">
                                            Saved Posts
                                        </div>
                                    </a>

                                    <div class="dropdown-divider"></div>
                                    <a class=" col-12 mt-2 mb-2 p-0" href="{{ url_for('users.logout', user_name=current_user.user_name) }}">
                                        <div class="col-12 pt-2 pb-2 btn-ee  ">
                                            Logout
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        {% else %}
        {% endif %}

    </div>

</div>