<style>
    .sticky-top {
        position: -webkit-sticky; /* Safari */
        position: fixed;
        top: 0;
        width: 100%;

    }
    .dropdown-height {
        height:450px;
        overflow-y: scroll;
    }
</style>

<div class="container-fluid " style="margin-bottom: 65px">

    <div class="row pt-2 headercolor  sticky-top">

        <div class="col-1 col-md-2 col-lg-2 col-xl-1" >
            <a href="{{ url_for('index') }}">
                <img class="pl-2 w-100" src="{{ url_for('static', filename='images/logo.png')  }}" style="max-width: 130px">
            </a>
        </div>

        {% if current_user.is_authenticated %}
            <div class="col-md-2 col-xl-2 ">

                <div class="dropdown d-inline " >
                    <button class="btn btn-dark dropdown-toggle w-100"
                            type="button"
                            id="dropdownMenuButton"
                            data-toggle="dropdown"
                            aria-haspopup="false"
                            aria-expanded="false">
                        Rooms
                    </button>


                    <div class="dropdown-menu dropdown-menu-left bg-dark mt-0 mb-0 pt-0 pb-0 border border-dark dropdown-height"
                         style="width: 300px">
                        <div class="col-12 second_color m-0">
                            <div class="row ">
                                <div class="col-7 offset-3  pt-3 pb-3">
                                    <a class=" mt-3 mb-3 linkcolor" href="{{ url_for('discoversubs') }}">
                                        Discover New Rooms
                                    </a>
                                </div>
                                {% for subs in usersubforums %}
                                    {% if subs %}
                                        <a class="col-12 text-white font-weight-bold btn-ee mb-3"
                                           href="{{ url_for('subforum.sub',subname=subs.subscriber.subcommon_name) }}">
                                            {% if subs.subscriber.mini_image == '' %}
                                                <div class="row btn-ee text-white pt-2 pb-2">
                                                    <div class="col-3">
                                                        <span class="dot" style="background-color: #1e90ff;"></span>
                                                    </div>
                                                    <div class="col-9 pt-2  pl-0 " style="margin-top: -5px;">
                                                        {{ subs.subscriber.subcommon_name }}
                                                    </div>
                                                </div>
                                            {% else %}
                                                <div class="row btn-ee text-white pt-2 pb-2 ">
                                                    <div class="col-3">
                                                        <img class="rndimg"
                                                             src="{{ url_for('common.banner_image',
                                                 filename=subs.subscriber.mini_image) }}"
                                                             width="20px">
                                                    </div>
                                                    <div class="col-9 pl-0 ">
                                                        {{ subs.subscriber.subcommon_name }}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-5 col-lg-4 col-xl-4 pr-0 pl-0">
                {% if currentbtcprice %}
                    <div class="row pb-0 mb-0 pr-0 pl-0 mx-auto d-block text-center h-100 d-xl-none">
                        <img class="pr-0 pl-0" src="{{ url_for('static', filename='images/coins/btc/btc_small.png')  }}" width="20px" height="20px">
                        {{ currentbtcprice.price }} &nbsp; | &nbsp;

                        <img class="pr-0 pl-0" src="{{ url_for('static', filename='images/coins/xmr/xmr_small.png')  }}" width="20px" height="20px">
                        {{ currentxmrprice.price  }} &nbsp; | &nbsp;

                        <img class="pr-0 pl-0" src="{{ url_for('static', filename='images/coins/bch/bch_small.png')  }}" width="25px" height="20px">
                        {{ currentbchprice.price }}
                    </div>
                {% else %}
                {% endif %}
            </div>



            <div class="col-md-3 col-lg-4 col-xl-4 justify-content-end pl-0 pr-0" style="display: inline">
                <div class="row justify-content-end pl-0 pr-0">


            <a class="btn btn-dark text-white d-block d-md-none d-lg-block" href="{{ url_for('profile.main', user_name=current_user.user_name) }}">
                <i class="fa fa-user"></i>
            </a>




                    <div class="pl-1 pr-1 ">
                        <div class="dropdown ">
                            <button class="btn btn-dark  dropdown-toggle justify-content-center pl-2"
                                    type="button"
                                    id="dropdownMenuButton"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false">
                                <i class="fab fa-btc pr-2"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right bg-dark mt-0 mb-0 pt-0 pb-0 border border-dark"
                                 aria-labelledby="dropdownMenuLink"
                                 style="width: 300px">
                                <div class="col-12 second_color">
                                    <div class="row">
                                        <a class="col-12 mt-2 mb-2 p-0" href="{{ url_for('wallet_btc.home') }}">
                                            <div class="col-12 pt-2 pb-2 btn-ee text-white ">
                                                <img src="{{ url_for('static', filename='images/coins/btc/btc_small.png')  }}"
                                                     width="20px" height="20px">
                                                <b>Bitcoin Wallet</b>
                                            </div>
                                        </a>
                                        <a class="col-12 mt-2 mb-2 p-0" href="{{ url_for('wallet_bch.home') }}">
                                            <div class="col-12 pt-2 pb-2 btn-ee text-white ">
                                                <img src="{{ url_for('static', filename='images/coins/bch/bch_small.png')  }}"
                                                     width="20px" height="20px">
                                                <b>Bitcoin Cash Wallet</b>
                                            </div>
                                        </a>
                                        <a class="col-12 mt-2 mb-2 p-0" href="{{ url_for('wallet_xmr.home') }}">
                                            <div class="col-12 pt-2 pb-2 btn-ee text-white ">
                                                <img src="{{ url_for('static', filename='images/coins/xmr/xmr_small.png')  }}"
                                                     width="20px" height="20px">
                                                <b>Monero Wallet</b>
                                            </div>
                                        </a>
                                        <a class="col-12 mt-2 mb-2 p-0" href="{{ url_for('coins.bank') }}">
                                            <div class="col-12 pt-2 pb-2 btn-ee text-white ">
                                                <img src="{{ url_for('static', filename='images/coins/tipvote/1.png')  }}"
                                                     width="20px" height="20px">
                                                <b>Tipvote Coins</b>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    {% if themsgs %}
                        {% if themsgs == 0 %}
                            <a class="btn btn-dark text-white" href="{{ url_for('message.main') }}"> <i class="fa fa-envelope"></i></a>
                        {% else %}
                            <a class="btn btn-warning text-white " href="{{ url_for('message.main') }}"><i class="fa fa-envelope"></i></a>
                        {% endif %}
                    {% else %}
                        <a class="btn btn-dark text-white " href="{{ url_for('message.main') }}"><i class="fa fa-envelope"></i></a>
                    {% endif %}

                    <div class="dropdown d-inline pl-1 pr-1">

                        {% if thenotescount %}
                            {% if thenotescount > 0 %}
                                <button class="btn dropdown-toggle btn-danger pl-2"
                                        type="button"
                                        id="dropdownMenuButton"
                                        data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false">
                                    <i class="fa fa-bell fa-1x pr-2 bg-danger"></i>
                                    {{ thenotescount }}
                                </button>
                            {% else %}
                                <button class="btn dropdown-toggle btn-dark pl-2"
                                        type="button"
                                        id="dropdownMenuButton"
                                        data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false">
                                    <i class="fa fa-bell fa-1x pr-2 "></i>
                                </button>
                            {% endif %}
                        {% else %}
                            <button class="btn dropdown-toggle btn-dark pl-2"
                                    type="button"
                                    id="dropdownMenuButton"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false">
                                <i class="fa fa-bell fa-1x pr-2 "></i>
                            </button>
                        {% endif %}

                        <div class="dropdown-menu dropdown-menu-right second_color dropdown-content bg-dark mt-0 mb-0 pt-0 pb-0 border border-dark"
                             aria-labelledby="dropdownMenuButton"
                             style="width: 400px">
                            <div class="col-12 second_color">
                                {% if thenotescount %}
                                    {% if thenotescount > 0 %}
                                        <a class="text-white mt-3"
                                           href="{{ url_for('message.markallnotifications', user_name=current_user.user_name) }}">
                                            <btn class="col-6 offset-3 btn btn-danger text-white mb-2 mt-4 p-2">
                                                Mark All As Read
                                            </btn>
                                        </a>
                                    {% else %}
                                    {% endif %}
                                {% endif %}

                                {% for note in thenotes %}
                                    {% include 'msg/_notifications_dropdown.html' %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>


                    <div class="dropdown  pr-2">
                        <button class="btn btn-dark dropdown-toggle "
                                type="button" id="dropdownMenuButton"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                            <i class="fa fa-bars fa-1x"></i>
                        </button>

                        <div class="dropdown-menu dropdown-menu-right bg-dark mt-0 mb-0 pt-0 pb-0 border border-dark"
                             aria-labelledby="dropdownMenuLink" style="width: 300px">
                            <div class="col-12 second_color">
                                <div class="row">
                                    <a class="text-white col-12 mt-2 mb-2 p-0" href="{{ url_for('profile.main', user_name=current_user.user_name) }}">
                                        <div class="col-12 pt-2 pb-2 btn-ee text-white ">
                                            View Profile
                                        </div>
                                    </a>

                                    <a class="text-white col-12 mt-2 mb-2 p-0" href="{{ url_for('users.account', user_name=current_user.user_name) }}">
                                        <div class="col-12 pt-2 pb-2 btn-ee text-white ">
                                            Account
                                        </div>
                                    </a>
                                    <a class="text-white col-12 mt-2 mb-2 p-0" href="{{ url_for('profileedit.viewsavedposts') }}">
                                        <div class="col-12 pt-2 pb-2 btn-ee text-white ">
                                            Saved Posts
                                        </div>
                                    </a>

                                    <div class="dropdown-divider"></div>
                                    <a class="text-white col-12 mt-2 mb-2 p-0" href="{{ url_for('users.logout', user_name=current_user.user_name) }}">
                                        <div class="col-12 pt-2 pb-2 btn-ee text-white ">
                                            Logout
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        {% else %}
        {% endif %}
    </div>
</div>
