
<div class="container-fluid">
    <div class="row pt-2 headercolor ">

        <div class="col-4 col-sm-4 col-md-4 col-lg-4 " >
            <a href="{{ url_for('index') }}">
                <img class="pl-2" src="{{ url_for('static', filename='images/logo.png')  }}">
            </a>
        </div>

        <div class="col-md-4 col-lg-4 col-xl-4  ">
            {% if currentbtcprice %}
                <div class="row pb-0 mb-0  mx-auto d-block text-center h-100">

                        <img src="{{ url_for('static', filename='images/coins/btc/btc_small.png')  }}" width="20px" height="20px">
                        {{ currentbtcprice.price }} &nbsp; | &nbsp;

                        <img src="{{ url_for('static', filename='images/coins/xmr/xmr_small.png')  }}" width="20px" height="20px">
                        {{ currentxmrprice.price  }} &nbsp; | &nbsp;

                        <img src="{{ url_for('static', filename='images/coins/bch/bch_small.png')  }}" width="25px" height="20px">
                        {{ currentbchprice.price }}

                </div>
            {% else %}
            {% endif %}
        </div>


        <div class="col-md-4 col-lg-4 col-xl-4 justify-content-end " style="display: inline">

            <div class="row justify-content-end ">

                {% if current_user.is_authenticated %}
                    <div class="pl-1 pr-1 d-none d-xl-block">
                        <div class="dropdown ">
                            <button class="btn btn-dark  dropdown-toggle justify-content-center pl-2"
                                    type="button"
                                    id="dropdownMenuButton"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false">
                                Wallets <i class="fab fa-btc pr-2"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right bg-dark mt-0 mb-0 pt-0 pb-0 border border-dark"
                                 aria-labelledby="dropdownMenuLink"
                                 style="width: 300px">
                                <div class="col-12 second_color">
                                    <div class="row">
                                        <a class="col-12 mt-2 mb-2 p-0" href="{{ url_for('wallet_btc.home') }}">
                                            <div class="col-12 pt-2 pb-2 btn-ee text-white ">
                                                <img src="{{ url_for('static', filename='images/coins/btc/btc_small.png')  }}"
                                                     width="20px" height="20px">
                                                <b>Bitcoin Wallet</b>
                                            </div>
                                        </a>
                                        <a class="col-12 mt-2 mb-2 p-0" href="{{ url_for('wallet_bch.home') }}">
                                            <div class="col-12 pt-2 pb-2 btn-ee text-white ">
                                                <img src="{{ url_for('static', filename='images/coins/bch/bch_small.png')  }}"
                                                     width="20px" height="20px">
                                                <b>Bitcoin Cash Wallet</b>
                                            </div>
                                        </a>
                                        <a class="col-12 mt-2 mb-2 p-0" href="{{ url_for('wallet_xmr.home') }}">
                                            <div class="col-12 pt-2 pb-2 btn-ee text-white ">
                                                <img src="{{ url_for('static', filename='images/coins/xmr/xmr_small.png')  }}"
                                                     width="20px" height="20px">
                                                <b>Monero Wallet</b>
                                            </div>
                                        </a>
                                        <a class="col-12 mt-2 mb-2 p-0" href="{{ url_for('coins.bank') }}">
                                            <div class="col-12 pt-2 pb-2 btn-ee text-white ">
                                                <img src="{{ url_for('static', filename='favicon-16x16.png')  }}"
                                                     width="20px" height="20px">
                                                <b>Tipvote Coins</b>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="dropdown d-inline pl-1 pr-1">
                    {% if current_user.is_authenticated %}
                        {% if thenotescount %}
                            {% if thenotescount > 0 %}
                                <button class="btn dropdown-toggle btn-danger pl-2"
                                        type="button"
                                        id="dropdownMenuButton"
                                        data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false">
                                    <i class="fa fa-bell fa-1x pr-2 bg-danger"></i>
                                    {{ thenotescount }}
                                </button>
                            {% else %}
                                <button class="btn dropdown-toggle btn-dark pl-2"
                                        type="button"
                                        id="dropdownMenuButton"
                                        data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false">
                                    <i class="fa fa-bell fa-1x pr-2 "></i>
                                </button>
                            {% endif %}
                        {% else %}
                            <button class="btn dropdown-toggle btn-dark pl-2"
                                    type="button"
                                    id="dropdownMenuButton"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false">
                                <i class="fa fa-bell fa-1x pr-2 "></i>
                            </button>
                        {% endif %}
                        <div class="dropdown-menu dropdown-menu-right second_color dropdown-content bg-dark mt-0 mb-0 pt-0 pb-0 border border-dark"
                             aria-labelledby="dropdownMenuButton"
                             style="width: 400px">
                            <div class="col-12 second_color">
                                {% if thenotescount %}
                                    {% if thenotescount > 0 %}
                                        <a class="text-white mt-3"
                                           href="{{ url_for('message.markallnotifications', user_name=current_user.user_name) }}">
                                            <btn class="col-6 offset-3 btn btn-danger text-white mb-2 mt-4 p-2">
                                                Mark All As Read
                                            </btn>
                                        </a>
                                    {% else %}
                                    {% endif %}
                                {% endif %}

                                {% for note in thenotes %}
                                    {% include 'msg/_notifications_dropdown.html' %}
                                {% endfor %}
                            </div>
                        </div>
                        </div>
                    {% else %}
                    {% endif %}

                {% if current_user.is_authenticated %}
                    <div class="dropdown pl-1 pr-1">
                        <button class="btn btn-dark dropdown-toggle "
                                type="button" id="dropdownMenuButton"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                            <i class="fa fa-bars fa-1x"></i>
                        </button>

                        <div class="dropdown-menu dropdown-menu-right bg-dark mt-0 mb-0 pt-0 pb-0 border border-dark"
                             aria-labelledby="dropdownMenuLink" style="width: 300px">
                            <div class="col-12 second_color">
                                <div class="row">
                                    <a class="text-white col-12 mt-2 mb-2 p-0" href="{{ url_for('profile.main', user_name=current_user.user_name) }}">
                                        <div class="col-12 pt-2 pb-2 btn-ee text-white ">
                                            View Profile
                                        </div>
                                    </a>
                                    <a class="text-white col-12 mt-2 mb-2 p-0" href="{{ url_for('mysubscriptions') }}">
                                        <div class="col-12 pt-2 pb-2 btn-ee text-white ">
                                            My Rooms
                                        </div>
                                    </a>
                                    <a class="text-white col-12 mt-2 mb-2 p-0" href="{{ url_for('users.account', user_name=current_user.user_name) }}">
                                        <div class="col-12 pt-2 pb-2 btn-ee text-white ">
                                            Account
                                        </div>
                                    </a>
                                    <a class="text-white col-12 mt-2 mb-2 p-0" href="{{ url_for('profileedit.viewsavedposts') }}">
                                        <div class="col-12 pt-2 pb-2 btn-ee text-white ">
                                            Saved Posts
                                        </div>
                                    </a>
                                    <a class="text-white col-12 mt-2 mb-2 p-0" href="{{ url_for('wallet_btc.home') }}">
                                        <div class="col-12 pt-2 pb-2 btn-ee text-white ">
                                            <img src="{{ url_for('static', filename='images/coins/btc/btc_small.png')  }}"
                                                 width="20px" height="20px">
                                            Bitcoin Wallet
                                        </div>
                                    </a>
                                    <a class="text-white col-12 mt-2 mb-2 p-0" href="{{ url_for('wallet_bch.home') }}">
                                        <div class="col-12 pt-2 pb-2 btn-ee text-white ">
                                            <img src="{{ url_for('static', filename='images/coins/bch/bch_small.png')  }}"
                                                 width="20px" height="20px">
                                            Bitcoin Cash Wallet
                                        </div>
                                    </a>
                                    <a class="text-white col-12 mt-2 mb-2 p-0" href="{{ url_for('wallet_xmr.home') }}">
                                        <div class="col-12 pt-2 pb-2 btn-ee text-white ">
                                            <img src="{{ url_for('static', filename='images/coins/xmr/xmr_small.png')  }}"
                                                 width="20px" height="20px">
                                            Monero Wallet
                                        </div>
                                    </a>
                                    <a class="text-white col-12 mt-2 mb-2 p-0" href="{{ url_for('coins.bank') }}">
                                        <div class="col-12 pt-2 pb-2 btn-ee text-white ">
                                            <img src="{{ url_for('static', filename='favicon-16x16.png')  }}"
                                                 width="20px" height="20px">
                                            Tipvote Coins
                                        </div>
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="text-white col-12 mt-2 mb-2 p-0" href="{{ url_for('users.logout', user_name=current_user.user_name) }}">
                                        <div class="col-12 pt-2 pb-2 btn-ee text-white ">
                                            Logout
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="text-center pl-1 pr-1">
                        <a class="btn btn-tipvote-up" href="{{ url_for('users.login') }}" role="button">
                            Login
                        </a>
                        <a class="btn btn-tipvote-up" href="{{ url_for('users.register') }}" role="button">
                            Register
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
