<style>
    .sticky-top {
        position: -webkit-sticky; /* Safari */
        position: fixed;
        top: 0px;
        width: 100%;

    }
    .dropdown-height {
        height:400px;
        overflow-y: scroll;
        width: 300px
    }
</style>

<div class="container-fluid headercolor" style="margin-top: 100px">
    <div class="row  pl-0 pr-0 pb-2 pt-3 sticky-top headercolor" style="min-height: 80px">
        {% include 'layout/headers/_stats_header.html' %}
        <div class="col-2 pt-1 pl-0 pr-0 mx-auto text-nowrap">

            <span style="font-size: 27px;color: #FFFFFF; padding: 0">T</span>
            <span style="font-size: 27px;color: #FFFFFF; margin-left: -2px">ipvote</span>
            <span style="font-size: 12px; color: #818384;">
               <div class="text-center"> Beta</div>
            </span>

        </div>
        <div class="col-1"></div>
        <div class="col-3 pl-0 pr-0 justify-content-end">
            {% if current_user.is_authenticated %}
                <div class="dropdown d-inline " >
                    <button class="btn btn-dark dropdown-toggle"
                            type="button"
                            id="dropdownMenuButtonSubs"
                            data-toggle="dropdown"
                            aria-haspopup="false"
                            aria-expanded="false">
                        Rooms
                    </button>


                    <div class="dropdown-menu dropdown-menu-left darkbg mt-0 mb-0 pt-0 pb-0 border  dropdown-height"
                         aria-labelledby="dropdownMenuButtonSubs">
                        <div class="col-12 second_color m-0">
                            <div class="row ">
                                {% for subs in usersubforums %}
                                    {% if subs %}
                                        <a class="col-12  font-weight-bold btn-ee mb-3"
                                           href="{{ url_for('subforum.sub',subname=subs.subscriber.subcommon_name) }}">
                                            {% if subs.subscriber.mini_image == '' %}
                                                <div class="row btn-ee  pt-2 pb-2">
                                                    <div class="col-3">
                                                        <span class="dot" style="background-color: #1e90ff;"></span>
                                                    </div>
                                                    <div class="col-9 pt-2  pl-0 " style="margin-top: -5px;">
                                                        {{ subs.subscriber.subcommon_name }}
                                                    </div>
                                                </div>
                                            {% else %}
                                                <div class="row btn-ee  pt-2 pb-2 ">
                                                    <div class="col-3">
                                                        <img class="rndimg"
                                                             src="{{ url_for('common.banner_image',
                                                 filename=subs.subscriber.mini_image) }}"
                                                             width="20px">
                                                    </div>
                                                    <div class="col-9 pl-0 ">
                                                        {{ subs.subscriber.subcommon_name }}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>



        <div class="col-6 text-right  pl-0 pr-0 ">
            {% if current_user.is_authenticated %}

                <a class="btn btn-dark pt-2 pb-2" href="{{ url_for('profile.main',
                 user_name=current_user.user_name) }}">
                    <i class="fa fa-user"></i>
                </a>

                <div class="dropdown d-inline">
                    <button class="btn btn-dark dropdown-toggle"
                            type="button"
                            id="dropdownMenuButton2"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">

                        <img src="{{ url_for('static', filename='images/coins/btc/btc_small.png')  }}"
                             width="20px" height="20px">
                    </button>

                    <div class="dropdown-menu dropdown-menu-left darkbg mt-0 mb-0 pt-0 pb-0 border "
                         aria-labelledby="dropdownMenuButton2">
                        <div class="col-12 second_color m-0">
                            <div class="row ">
                                <a class=" col-12 mb-2 p-0" href="{{ url_for('wallet_btc.home') }}">
                                    <div class="col-12 pt-2 pb-2 btn-ee  ">
                                        <img src="{{ url_for('static', filename='images/coins/btc/btc_small.png')  }}" width="20px" height="20px">
                                        <b>Btc Wallet</b>

                                    </div>
                                </a>
                                <a class=" col-12 mt-2 mb-2 p-0" href="{{ url_for('wallet_bch.home') }}">
                                    <div class="col-12 btn-ee pt-2 pb-2  ">
                                        <img src="{{ url_for('static', filename='images/coins/bch/bch_small.png')  }}" width="20px" height="20px">
                                        <b>Bch Wallet</b>
                                    </div>
                                </a>
                                <a class=" col-12 mt-2 mb-2 p-0" href="{{ url_for('wallet_xmr.home') }}">
                                    <div class="col-12 pt-2 pb-2 btn-ee  ">
                                        <img src="{{ url_for('static', filename='images/coins/xmr/xmr_small.png')  }}" width="20px" height="20px">
                                        <b>XMR Wallet</b>
                                    </div>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-none d-md-block">
                    {% if themsgs %}
                        {% if themsgs == 0 %}
                            <a class="btn btn-dark " href="{{ url_for('message.main') }}"> <i class="fa fa-envelope"></i></a>
                        {% else %}
                            <a class="btn btn-warning  " href="{{ url_for('message.main') }}"><i class="fa fa-envelope"></i></a>
                        {% endif %}
                    {% else %}
                        <a class="btn btn-dark  " href="{{ url_for('message.main') }}"><i class="fa fa-envelope"></i></a>
                    {% endif %}
                </div>




                    <div class="dropdown d-inline">

                        {% if thenotescount %}
                            {% if thenotescount > 0 %}
                                <button class="btn btn-dark   text-white dropdown-toggle btn-danger pt-2"
                                        type="button"
                                        id="dropdownMenuButton"
                                        data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false">
                                    <i class="fa fa-bell fa-lg pr-2 bg-danger"></i>
                                    {{ thenotescount }}
                                </button>
                            {% else %}
                                <button class="btn  btn-dark  dropdown-toggle text-white pt-2"
                                        type="button"
                                        id="dropdownMenuButton"
                                        data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false">
                                    <i class="fa fa-bell fa-lg pr-2 text-white"></i>
                                </button>
                            {% endif %}
                        {% else %}
                            <button class="btn btn-dark  dropdown-toggle text-white pt-2"
                                    type="button"
                                    id="dropdownMenuButton"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false">
                                <i class="fa fa-bell fa-lg pr-2 text-white"></i>
                            </button>
                        {% endif %}

                        <div class="dropdown-menu dropdown-menu-right second_color dropdown-content darkbg mt-0 mb-0 pt-0 pb-0 border  dropdown-height"
                             aria-labelledby="dropdownMenuButton"
                             style="width: 400px">
                            <div class="col-12 second_color">
                                {% if thenotescount %}
                                    {% if thenotescount > 0 %}
                                        <a class=" mt-3"
                                           href="{{ url_for('message.markallnotifications', user_name=current_user.user_name) }}">
                                            <btn class="col-6 offset-3 btn btn-danger  mb-2 mt-4 p-2">
                                                Mark All As Read
                                            </btn>
                                        </a>
                                    {% else %}
                                    {% endif %}
                                {% endif %}

                                {% for note in thenotes %}
                                    {% include 'msg/_notifications_dropdown.html' %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>







                <div class="dropdown d-inline p-0">
                    <button class="btn btn-dark dropdown-toggle"
                            type="button"
                            id="dropdownMenuButton"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">

                        <i class="fa fa-bars fa-1x"></i>
                    </button>

                    <div class="dropdown-menu dropdown-menu-right darkbg mt-0 mb-0 pt-0 pb-0 border "
                         aria-labelledby="dropdownMenuButton2">
                        <div class="col-12 second_color m-0">
                            <div class="row ">
                                <a class=" col-12 mb-2 p-0" href="{{ url_for('profile.main', user_name=current_user.user_name) }}">
                                    <div class="col-12 pt-2 pb-2 btn-ee  ">
                                        <b>View Profile</b>
                                    </div>
                                </a>
                                <a class=" col-12 mt-2 mb-2 p-0" href="{{ url_for('mysubscriptions') }}">
                                    <div class="col-12 btn-ee pt-2 pb-2  ">
                                        <b>Rooms</b>
                                    </div>
                                </a>
                                <a class=" col-12 mt-2 mb-2 p-0" href="{{ url_for('users.account', user_name=current_user.user_name) }}">
                                    <div class="col-12 pt-2 pb-2 btn-ee  ">
                                        <b>Account</b>
                                    </div>
                                </a>
                                <a class=" col-12 mt-2 mb-2 p-0" href="{{ url_for('profileedit.viewsavedposts') }}">
                                    <div class="col-12 pt-2 pb-2 btn-ee  ">
                                        <b>Saved Posts</b>
                                    </div>
                                </a>
                                <a class=" col-12 mt-2 mb-2 p-0" href="{{ url_for('coins.bank') }}">
                                    <div class="col-12 pt-2 pb-2 btn-ee  ">
                                        <b>Tipvote Coins</b>
                                    </div>
                                </a>
                                <div class=" border-bottom mb-3"></div>

                                <a class=" col-12 mt-2 mb-2 p-0"
                                   href="{{ url_for('users.logout', user_name=current_user.user_name) }}">
                                    <div class="col-12 pt-2 pb-2 btn-ee ">
                                        <b>Logout</b>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
