{% if current_user.is_authenticated %}
    {% if current_user.btc %}
        {% if current_user.btc.unconfirmed > 0 %}
            <div class="col-12 bg-success">
                <div class="row pt-2 pb-2 text-center">
                    <div class="col-12 text-center">
                        You have a new incomming Bitcoin deposit! {{ current_user.btc.unconfirmed|btctostring }}
                    </div>

                </div>
            </div>
        {% endif %}
    {% endif %}
{% endif %}
{% if current_user.is_authenticated %}
    {% if current_user.bch %}
        {% if current_user.bch.unconfirmed > 0 %}
            <div class="col-12 bg-success">
                <div class="row pt-2 pb-2 text-center">
                    <div class="col-12 text-center">
                        You have a new incomming Bitcoin Cash deposit! {{ current_user.bch.unconfirmed|btctostring }}
                    </div>

                </div>
            </div>
        {% endif %}
    {% endif %}
{% endif %}
{% if current_user.is_authenticated %}
    {% if current_user.xmr %}
        {% if current_user.xmr.unconfirmed > 0 %}
            <div class="col-12 bg-success">
                <div class="row pt-2 pb-2 text-center">
                    <div class="col-12 text-center">
                        You have a new incomming Monero deposit! {{ current_user.xmr.unconfirmed|xmrtostring }}
                    </div>

                </div>
            </div>
        {% endif %}
    {% endif %}
{% endif %}