<div class="row mb-1 p-2">
    <div class="col-12 second_color border border-dark mb-1">
        <div class="h5 text-center">Current Prices:</div>
        <br>

            <div class="col-12 mb-3 text-center" style="display: inline-block">
                <img class="pr-0 pl-0" src="{{ url_for('static', filename='images/coins/btc/btc_small.png')  }}" width="20px" height="20px">
                {{ currentbtcprice.price }}
            </div>
            <div class="col-12 mb-3 text-center" style="display: inline-block">
                <img class="pr-0 pl-0" src="{{ url_for('static', filename='images/coins/bch/bch_small.png')  }}" width="25px" height="20px">
                {{ currentbchprice.price }}
            </div>
            <div class="col-12 mb-3 text-center" style="display: inline-block">
                <img class="pr-0 pl-0" src="{{ url_for('static', filename='images/coins/xmr/xmr_small.png')  }}" width="20px" height="20px">
                {{ currentxmrprice.price  }}

            </div>
    </div>
</div>