{% if stream_live == 1 %}
    <div class="col-12 rounded second_color mb-3 border border-dark p-3 mt-1 mb-1">
        <div class="row">
            <div class="col-12">
                <h5 class="text-center">
                    Development stream of Tipvote is live
                </h5>
                <br>

                <div class="text-center">
                    <a  href="https://www.twitch.tv/anekdotin">
                        Follow Anekdotin on Twitch
                    </a>
                </div>
            </div>
        </div>
    </div>
{% else %}
{% endif %}