
<div class="row pb-1 pr-2 pl-2">
    <div class="col-12   pb-2">
        <div class="text-center mb-3">
            <h5> Tipvote Rules </h5>
        </div>

        <div class=" mb-3" style="font-size: 12px">
            <p>
                1. Do not break any US laws. <br>
                2. Do not harass others.<br>
                3. Do not threaten Tipvote.<br>
                4. Do not incite violence.<br>
                5. Do not spam.<br>
                5. Do not beg for coin.<br>
            </p>
        </div>

        <div class="text-center">
            <a href="{{ url_for('legal.postrules') }}">
                View Rules
            </a>
        </div>

    </div>
</div>