
<div class="row pb-1 pr-2 pl-2">
    <div class="col-12   pb-2">
        <div class="text-center mb-3">
            <h5> Bugs </h5>
        </div>

        <div class=" mb-3" style="font-size: 11px">
            <p>
                Tipvote is in its early stages and there will probably be bugs here and there.
                Its recommended you dont keep more than 10$ or 20$ on here.  <br>
                Any bugs please report to <br>
                 </p>
                <a class="btn btn-dark  w-100 mb-2" href="https://www.tipvote.com/a/bugs">
                    <div class="row " >
                        <div class="col-3">
                            <img class="rndimg"
                                 src="https://www.tipvote.com/common/subforum/image/banner/disk1/subforum/21/CL01PYM2MX15TWA5HE9I_100x100.png" width="20px">
                        </div>
                        <div class="col-9 pl-0 ">
                            a/bugs
                        </div>
                    </div>
                </a>

        </div>

    </div>
</div>