<div class="row mb-2 pl-2">
    <div class="col-10   second_color border border-dark mb-2">
            <div class="text-center"> <b>Trending Rooms</b></div>
            <br>
            <div class="text-center">
                <a href="{{ url_for('discoversubs') }}">
                    Discover New Rooms
                </a>
            </div>
            <br>
            <div class="pl-0 linkcolor">
                {% for subs in guestsubforums %}
                    {% if subs %}

                        <a class="btn btn-dark text-white w-100 mb-2"
                           href="{{ url_for('subforum.sub', subname=subs.subcommon_name) }}"
                        >
                            {% if subs.mini_image == '' %}
                                <div class="row " style="margin-bottom: -5px">
                                    <div class="col-3">
                                        <span class="dot" style="background-color: dodgerblue;"></span>
                                    </div>
                                    <div class="col-9 pt-2  pl-0 " style="margin-top: -5px;">
                                      {{ subs.subcommon_name }}
                                    </div>
                                </div>
                            {% else %}
                                <div class="row " style="margin-bottom: -5px">
                                    <div class="col-3">
                                        <img class="rndimg"
                                             alt={{ subs.subcommon_name }}
                                             src="{{ url_for('common.banner_image',filename=subs.mini_image) }}" width="20px">
                                    </div>
                                    <div class="col-9 pl-0 ">
                                      {{ subs.subcommon_name }}
                                    </div>
                                </div>
                            {% endif %}
                        </a>
                        <br>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    <div class="col-2"></div>
</div>