<div class="col-12 rounded second_color mb-3 border  p-3 mt-1 mb-1">
    <div class="row">
        <div class="col-8 col-sm-8 col-md-8">
            <h5 class="text-center border-bottom  pb-2">
                Promoting a post directly supports Tails.
            </h5>

            <p class="pl-2">Tails is a portable operating system that protects against surveillance and censorship. </p>
            <div class="text-center">
                    <a href="https://tails.boum.org/donate/index.en.html">Learn More about Tails</a>
            </div>
        </div>
        <div class="col-4 col-sm-4 col-md-4  text-center">
            <img src="{{ url_for('static', filename='images/charity/tails-logo.png')  }}" width="60%">
        </div>
    </div>
</div>