<div class="col-12 col-sm-12 col-md-12 col-lg-8 mb-5 offset-lg-2">
    <div class="row">
        <div class="col-8 col-sm-8 col-md-8">
            <h5 class="text-center">
                <img class="border border-dark" src="{{ url_for('static', filename='images/charity/promotebutton.png')  }}"> crypto supports
               Tails.
            </h5>
            <br>
            <p>Tails is a portable operating system that protects against surveillance and censorship. </p>

            <a href="https://tails.boum.org/donate/index.en.html">Learn More about Tails</a>
        </div>
        <div class="col-4 col-sm-4 col-md-4 p-0">
            <img src="{{ url_for('static', filename='images/charity/tails-logo.png')  }}" width="80%">
        </div>

    </div>
</div>