
<div class="col-12 ">
    <div class="row justify-content-end    " >
        {% if comment.path|length <= 6 %}
            <div class="col-12 third_color mt-4  " >
            <div class="row">
        {% elif 7 <= comment.path|length <= 13  %}
            <div class="col-1 third_color"></div>
            <div class="col-11 third_color ">
            <div class="row ">
        {% elif 14 <= comment.path|length <= 20  %}
            <div class="col-2 third_color "></div>
            <div class="col-10 third_color ">
            <div class="row">
        {% else %}
            <div class="col-3  third_color"></div>
            <div class="col-9 third_color ">
            <div class="row">
        {% endif %}

        <!--- Profile Image voting -->
        <div class="d-none d-md-block col-md-2 col-lg-2 col-xl-1 pl-0 pt-0"
             style="max-width: 55px">
            {% if comment.usercomments.profileimage  %}
                {% if comment.usercomments.profileimage == '' %}

                {% else %}
                    <a href="{{ url_for('profile.main',
                     user_name=comment.user_name) }}">
                        <img
                                alt="{{ url_for('static',
                                filename='images/noprofile.png')  }}"
                                class="img-responsive"
                                src="{{ url_for('common.profile_image',
                                filename=comment.usercomments.profileimage) }}"
                                style="width:50px;height: 50px; border-radius: 7px">
                    </a>
                {% endif %}
            {% else %}

            {% endif %}


        </div>
        <!--- left side voting -->
        <div class="col-2 col-xl-1 mb-0 m-0" style="max-width: 50px">
            {% include 'common/js/vote/upvote_comment.html' %}
            {% include 'common/js/vote/downvote_comment.html' %}

            <div class="row mt-0">
                <div class="col-12 mt-0 mb-0  pb-0 pt-0 ">
                    <form method="post"
                          action="{{ url_for('vote.upvote_comment',
                           commentid=comment.id) }}">
                        {{ voteform.csrf_token }}

                        <button
                                id="click-btn-upvote-comment-{{ comment.id }}"
                                value="{{ comment.id }}"
                                type="button"
                                class="btn btn-upvote"
                                style="margin-left:-10px;">
                            <img
                                    src="{{ url_for('static',
                                     filename='images/arrows/uparrow.png')  }}"
                                    width="20px" height="20px">
                        </button>

                    </form>
                </div>


                <div class="col-12 mt-0 mb-0 pb-0 pt-0 text-center"
                     id="number_before_{{ comment.id }}">
                    {{ comment.total_exp_commons }}
                </div>

                <div class="col-12 mt-0 mb-0  pb-0 pt-0 text-center upgreen"
                     id="number_after_up_{{ comment.id }}"
                     style="display: none;">
                    {{ newnumber }}
                </div>

                <div class="col-12 mt-0 mb-0  pb-0 pt-0 text-center downred"
                     id="number_after_down_{{ comment.id }}"
                     style="display: none;">
                    {{ newnumber }}
                </div>

                <div class="col-12 pb-0 mt-0 mb-0 pb-0 pt-0">
                    <form method="post"
                          action="{{ url_for('vote.downvote_comment',commentid=comment.id) }}">
                        {{ voteform.csrf_token }}
                        <button
                                id="click-btn-downvote-comment-{{ comment.id }}"
                                value="{{ comment.id }}"
                                type="button"
                                class="btn btn-downvote"
                                style="margin-left:-10px;">
                            <img
                                    src="{{ url_for('static',
                                     filename='images/arrows/downarrow.png')  }}"
                                    width="20px" height="20px">
                        </button>

                    </form>
                </div>
            </div>
        </div>

        <!--- END left side voting -->
        <!--- RIGHT SIDE INFO -->

        <div class="col-10 col-sm-10 col-md-8 third_color rounded m-0 p-1">

            <div class="row">
                <!-- username line -->
                <div class="col-12 " >
                    <div class="row ">
                        {% if comment.user_id == post.user_id %}
                            {% if comment.userhidden == 1 %}
                                <div class="col-auto anoncolor" style="font-size: 13px">
                                    {% if comment.visible_user_name|length > 10 %}
                                        {{ comment.visible_user_name }}
                                    {% else %}
                                        {{ comment.visible_user_name }}
                                    {% endif %}
                                </div>
                            {% else %}
                                <div class="col-auto user_name_color_same_as_poster" style="font-size: 13px">
                                    <a href="{{ url_for('profile.main',
                                 user_name=comment.user_name) }}">
                                        {% if comment.visible_user_name|length > 10 %}
                                            {{ comment.visible_user_name }}
                                        {% else %}
                                            {{ comment.visible_user_name }}
                                        {% endif %}
                                    </a>
                                </div>
                            {% endif %}
                        {% else %}
                            {% if comment.userhidden == 1 %}
                                <div class="col-auto anoncolor" style="font-size: 13px">
                                    {% if comment.visible_user_name|length > 10 %}
                                        {{ comment.visible_user_name }}
                                    {% else %}
                                        {{ comment.visible_user_name }}
                                    {% endif %}
                                </div>
                            {% else %}
                                <div class="col-auto linkcolor" style="font-size: 13px">
                                    <a href="{{ url_for('profile.main',
                                user_name=comment.user_name) }}">
                                        {% if comment.visible_user_name|length > 10 %}
                                            {{ comment.visible_user_name }}
                                        {% else %}
                                            {{ comment.visible_user_name }}
                                        {% endif %}
                                    </a>
                                </div>
                            {% endif %}
                        {% endif %}

                        <div class="col-12 lightgraytext mb-3" style="font-size: 11px">
                            {{ moment(timestamp=comment.created,
                         local=False)
                         .fromNow(refresh=True)  }}
                        </div>

                    </div>
                </div>
            </div>


            <!-- Crypto top lines line -->
            {% if comment.total_recieved_btc > 0  %}
                <div class="row">
                    <div class="col-12 "  style="font-size: 14px;">
                        <img src="{{ url_for('static', filename='images/coins/btc/btc_small.png')  }}"
                             width="20px" height="20px"> {{ comment.total_recieved_btc|btctostring }}
                    </div>
                </div>
            {% endif %}
            {% if comment.total_recieved_bch > 0  %}
                <div class="row">
                    <div class="col-12 "  style="font-size: 14px;">
                        <img src="{{ url_for('static', filename='images/coins/bch/bch_small.png')  }}"
                             width="20px" height="20px"> {{ comment.total_recieved_bch|btctostring }}
                    </div>
                </div>
            {% endif %}
            {% if comment.total_recieved_xmr > 0  %}
                <div class="row">
                    <div class="col-12 "  style="font-size: 14px;">
                        <img src="{{ url_for('static', filename='images/coins/xmr/xmr_small.png')  }}"
                             width="20px" height="20px">{{ comment.total_recieved_xmr|xmrtostring }}
                    </div>
                </div>
            {% endif %}
            <div class="row ">
                <div class="col-12" style="font-size: 15px">
                    {% if comment.hidden == 0 %}

                        {{ comment.body| markdown }}

                    {% else %}
                        Removed
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Crypto top lines line -->
        <div class="col-10 mt-0 mb-2">
            <div class="accordion w-100" id="accordionExample" style="display: inline-block">
                <div class="row mt-0">
                    <div class="col-8 offset-3 user_name_color">
                        {% if comment.deleted == 0 %}
                            <a class="col-auto" style="font-size: 12px"
                               href="{{ url_for('tip.create_tip_comment',
                                       subname=post.subcommon_name,
                                       postid=post.id,
                                       commentid=comment.id) }}">

                                Tip Crypto
                            </a>
                        {% endif %}
                        {% if comment.deleted == 0 %}
                            {% if current_user.id == comment.user_id %}

                                <a class="user_name_color" href="{{ url_for('edit.comment_edit', commentid=comment.id) }}">
                                    Edit -
                                </a>&nbsp

                                <a class="user_name_color" href="{{ url_for('edit.comment_delete_text', commentid=comment.id) }}">
                                    Delete -
                                </a>&nbsp

                            {% endif %}
                        {% endif %}

                        <div id="accordionone " style="display: inline">
                            <a data-toggle="collapse" data-target="#{{ comment.realid }}1" aria-expanded="true" aria-controls="collapseOne">
                                Reply
                            </a>&nbsp

                        </div>

                    </div>

                </div>

                <div id="{{ comment.realid }}1" class="collapse w-100" aria-labelledby="headingOne" data-parent="#accordionExample">
                    {% include 'create/comment/_subcomment.html' %}
                </div>

            </div>

        </div>

        </div>
        </div>
        </div>
        </div>
