

{% extends "layout/layout_plain.html" %}

{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <div class="row">

                <div class="col-12 second_color border border-dark">
                    <div class="col-12 text-center">

                        <h3>New Pin</h3>
                    </div>

                    <form method="post">
                        {{ form.csrf_token }}
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-md-right ">
                                New Pin
                            </label>
                            <div class="col-md-6">
                                {{ render_field(form.pin,
                                 placeholder="Enter New 6 digit Pin",
                                  class="textboxcolors") }}
                            </div>
                        </div>


                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-md-right ">
                                Confirm Pin
                            </label>
                            <div class="col-md-6">
                                {{ render_field(form.pintwo,
                                placeholder="Confirm New 6 digit Pin",
                                class="textboxcolors") }}

                            </div>
                        </div>

                        <div class="col-md-6 offset-md-4 text-center mt-5">
                            {{ render_field(form.submit,  value="Reset Pin",
                             autocomplete="off",
                              class="btn btn-primary") }}

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}