<html>
<head>
    <style>

        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            background-color: #101010;
        }

        .topnav {
            overflow: hidden;
            background-color: #333;
        }

        .topnav a {
            float: left;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }





    </style>
</head>
<body>
<div class="topnav">
    <a href="https://www.tipvote.com/">
        <img  alt='' class="center" src='https://www.tipvote.com/images/logo.png'>
    </a>

</div>

<div style="text-align: center; color:#FFFFFF">
    <h2> 404 Error </h2>
    <br><br>

    <h3> Looks like you wandered off the beaten path.. why dont you go
    <br><br><br>
    <a href="https://www.tipvote.com/">
        <img  alt='' class="center" src='https://www.tipvote.com/images/errors/buy_bitcoins.jpeg'>
    </a>
        <br><br>
      <a href="https://www.tipvote.com/">
       back to tipvote
    </a>
    </h3>

</div>





</body>
</html>