<html>
<head>
    <style>

        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            background-color: #101010;
        }

        .topnav {
            overflow: hidden;
            background-color: #333;
        }

        .topnav a {
            float: left;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }



    </style>
</head>
<body>
<div class="topnav">
    <a href="https://www.tipvote.com/">
        <img  alt='' class="center" src='https://www.tipvote.com/images/logo.png'>
    </a>

</div>

<div style="text-align: center; color:#FFFFFF">
    <h2> 500 Error </h2>
    <br><br>
    <h3> Tipvote is down !  We are doing some work on the servers.  We will be back!
    <br>

    </h3>

</div>




</body>
</html>