<div class="row pb-0 pr-2 pl-2">
    <div class="col-12 second_color rounded  mb-1">
        {% if current_user.is_authenticated %}

            <div class="row">

                <div class="col-4 text-center mt-3 linkcolor" >
                    {% if current_user.profileimage == '' %}
                        <img class="profileimage bg-dark" src="{{ url_for('static', filename='images/noprofile.png')  }}">
                    {% else %}
                        <img class="profileimage"
                             src="{{ url_for('common.profile_image',filename=current_user.profileimage) }}"
                        >
                    {% endif %}
                </div>
                <div class="col-8 text-left  mt-3 linkcolor" >


                    {% if current_user.anon_mode == 0 %}
                        <a href="{{ url_for('profile.main', user_name=current_user.user_name) }}">
                            <div class="h5">
                                {{ current_user.user_name }}
                            </div>
                        </a>
                    {% else %}

                        <span style="color:#66FF99">
                        <h5><b>Anonymous</b></h5>
                   </span>
                    {% endif %}
                </div>
            </div>



            <div class="col-12 mb-1 text-center">
                Lvl {{ current_user.user_stats_common.user_level }}

                {%  if 0 <= current_user.user_stats_common.user_level <= 2 %}
                    ({{ current_user.user_stats_common.user_exp }}/250 exp)

                {%  elif 3 <= current_user.user_stats_common.user_level <= 5 %}
                    ({{ current_user.user_stats_common.user_exp }}/500 exp)

                {%  elif 6 <= current_user.user_stats_common.user_level <= 7 %}
                    ({{ current_user.user_stats_common.user_exp }}/1000 exp)

                {%  elif 8 <= current_user.user_stats_common.user_level <= 10 %}
                    ({{ current_user.user_stats_common.user_exp }}/2000 exp)

                {%  elif 11 <= current_user.user_stats_common.user_level <= 14 %}
                    ({{ current_user.user_stats_common.user_exp }}/4000 exp)

                {%  elif 16 <= current_user.user_stats_common.user_level <= 20 %}
                    ({{ current_user.user_stats_common.user_exp }}/6000 exp)

                {%  elif 21 <= current_user.user_stats_common.user_level <= 25 %}
                    ({{ current_user.user_stats_common.user_exp }}/10000 exp)

                {%  elif 26 <= current_user.user_stats_common.user_level <= 320 %}
                    ({{ current_user.user_stats_common.user_exp }}/10000 exp)

                {%  elif 30 <= current_user.user_stats_common.user_level <= 50 %}
                    ({{ current_user.user_stats_common.user_exp }}/10000 exp)

                {%  elif 51 <= current_user.user_stats_common.user_level <= 100 %}
                    ({{ current_user.user_stats_common.user_exp }}/10000 exp)

                {%  elif 101 <= current_user.user_stats_common.user_level <= 150 %}
                    ({{ current_user.user_stats_common.user_exp }}/10000 exp)

                {% else %}
                    ({{ current_user.user_stats_common.user_exp }}/10000 exp)

                {% endif %}
                <div class="progress">
                    <div class="progress-bar bg-warning"
                         role="progressbar"
                         aria-valuenow={{ current_user.user_stats_common.user_width_next_level }}
                                 aria-valuemin="0" aria-valuemax="100" style="width:{{ current_user.user_stats_common.user_width_next_level }}%">
                    </div>
                </div>
            </div>
            <div class="col-12 mb-1 text-center">
                <a href="{{ url_for('coins.overview') }}">Rewards</a>
            </div>

        {% else %}
            <div class="col-12 text-center">
                <b>Guest</b>
            </div>
            <div class="card-body">
                <div class="col-12 mb-1 text-center">
                    Lvl 0
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar"
                             aria-valuenow=0
                             aria-valuemin="0" aria-valuemax="100" style="width:25%">
                        </div>
                    </div>
                </div>
                <div class="col-12 mb-1 text-center">
                    <a href="{{ url_for('coins.overview') }}">Rewards</a>
                </div>
                <hr>
                <div class="col-12 text-center" style="display: inline-block">
                    <b>
                        <span style="color:green">0</span >
                        /
                        <span style="color:red">0</span >
                    </b>
                </div>
            </div>
        {% endif %}
    </div>


</div>