{% if current_user.is_authenticated %}
    <div class="col-12 d-md-none">
        <div class="row pt-2 pb-2 text-center d-lg-none">
            <div class="col-5">


                <a href="{{ url_for('profile.main', user_name=current_user.user_name) }}">
                    {% if current_user.profileimage == '' %}
                        <img class="img-responsive small_user_image bg-dark" src="{{ url_for('static', filename='images/noprofile.png')  }}" width="125x" height="125px">
                    {% else %}

                        <img class="img-responsive small_user_image"
                             src="{{ url_for('common.profile_image',filename=current_user.profileimage) }}"
                        >
                    {% endif %}
                </a>
            </div>
            <div class="col-3">

                Lvl {{ current_user.user_stats_common.user_level }}

                {%  if 0 <= current_user.user_stats_common.user_level <= 2 %}
                    ({{ current_user.user_stats_common.user_exp }}/250 exp)

                {%  elif 3 <= current_user.user_stats_common.user_level <= 5 %}
                    ({{ current_user.user_stats_common.user_exp }}/500 exp)

                {%  elif 6 <= current_user.user_stats_common.user_level <= 7 %}
                    ({{ current_user.user_stats_common.user_exp }}/1000 exp)

                {%  elif 8 <= current_user.user_stats_common.user_level <= 10 %}
                    ({{ current_user.user_stats_common.user_exp }}/2000 exp)

                {%  elif 11 <= current_user.user_stats_common.user_level <= 14 %}
                    ({{ current_user.user_stats_common.user_exp }}/4000 exp)

                {%  elif 16 <= current_user.user_stats_common.user_level <= 20 %}
                    ({{ current_user.user_stats_common.user_exp }}/6000 exp)

                {%  elif 21 <= current_user.user_stats_common.user_level <= 25 %}
                    ({{ current_user.user_stats_common.user_exp }}/10000 exp)

                {%  elif 26 <= current_user.user_stats_common.user_level <= 320 %}
                    ({{ current_user.user_stats_common.user_exp }}/10000 exp)

                {%  elif 30 <= current_user.user_stats_common.user_level <= 50 %}
                    ({{ current_user.user_stats_common.user_exp }}/10000 exp)

                {%  elif 51 <= current_user.user_stats_common.user_level <= 100 %}
                    ({{ current_user.user_stats_common.user_exp }}/10000 exp)

                {%  elif 101 <= current_user.user_stats_common.user_level <= 150 %}
                    ({{ current_user.user_stats_common.user_exp }}/10000 exp)

                {% else %}
                    ({{ current_user.user_stats_common.user_exp }}/10000 exp)

                {% endif %}
                <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar"
                         aria-valuenow={{ current_user.user_stats_common.user_width_next_level }}
                                 aria-valuemin="0" aria-valuemax="100" style="width:{{ current_user.user_stats_common.user_width_next_level }}%">
                    </div>
                </div>
                <div class="col-12">
                    <a href="{{ url_for('coins.overview') }}">
                        Level {{ current_user.user_stats_common.user_level + 1 }}
                        Rewards
                    </a>

                </div>

            </div>
            <div class="col-4 mb-1 text-center" style="display: inline-block">


                <b>
                    <div class="col-12">
                        Comments:<br>
                        <span style="color:green">{{ current_user.user_stats_common.comment_upvotes }}</span >
                        /
                        <span style="color:red">{{ current_user.user_stats_common.comment_downvotes }}</span >
                    </div>
                    <div class="col-12">
                        Posts:<br>
                        <span style="color:green">{{ current_user.user_stats_common.post_upvotes }}</span >
                        /
                        <span style="color:red">{{ current_user.user_stats_common.post_downvotes }}</span >
                    </div>
                </b>

            </div>
        </div>
    </div>
{% endif %}