
    <div class="row  mt-2 text-white">
        <div class="col-12 text-left mt-3">
            <b>Withdraw Funds</b>
        </div>
        <div class="col-12 text-center">You have {{ wallet.currentbalance|btctostring }}

        <div class="col-12">

            <form method="post" action="{{ url_for('wallet_xmr.sendcoin') }}">
                {{ form.csrf_token }}

                <div class="form-group row">
                    <label for="email_address" class="col-md-4 col-form-label text-md-right">XMR Address</label>
                    <div class="col-md-6">
                        {{ render_field(form.sendto,autocomplete="off", class="form-control") }}
                    </div>
                </div>

                <div class="form-group row">
                    <label for="password" class="col-md-4 col-form-label text-md-right">Amount</label>
                    <div class="col-8 col-md-4">
                        {{ render_field(form.amount, autocomplete="off", class="form-control")  }}
                    </div>
                </div>
            <div class="form-group row">
                <label  class="col-md-4 col-form-label text-md-right">Pin</label>
                <div class="col-8 col-md-3">
                    {{ render_field(form.pin,  autocomplete="off", class="form-control")  }}
                </div>
            </div>
            <div class="form-group row">
                <label  class="col-md-4 col-form-label text-md-right"></label>
                <div class="col-md-6">
{#                    {{ captcha() }}#}
                </div>
            </div>
                <div class="col-12 text-center" style="font-size: 12px">Current Fee: {{ wfee|btctostring }} XMR</div>
                <div class="col-md-2 offset-md-5 mt-2">
                    {{ render_field(form.submit,  value="Withdraw", autocomplete="off", class="btn btn-success ") }}
                    <br><br>
                    <a href="{{ url_for('users.register') }}">Forgot Pin?</a>
                </div>
            </form>
        </div>
    </div>