<div class="container-fluid mt-3 bg-success">
    <div class="row" >
        <!-- Middle -->
        <div class="col-9 mb-5 ">

            {% include 'layout/widgets_subs/nav/index_topnav.html' %}
            {% include "flashbar.html" %}

            {% if current_user.is_authenticated %}
                {% include 'create/posts/master/_full_form.html' %}
            {% else %}
                {% include 'create/posts/master/_fake_create_post.html' %}
            {% endif %}

            {% include 'layout/widgets/_livestream.html' %}

            {% for post in posts %}
                {% include 'posts/panels_small/master.html' %}
            {% endfor %}

            <div class="row mt-5">
                <div class="col-12 text-center justify-content-center">
                    {% if prev_url %}
                        <a class="btn btn-warning btn-sm" type="button" href="{{ prev_url }}">Newer posts</a>
                    {% endif %}
                    {% if next_url %}
                        <a class="btn btn-warning btn-sm" type="button" href="{{ next_url }}">Older posts</a>
                    {% endif %}
                </div>
            </div>

        </div>

        <!-- Right -->
        <div class="col-3">
            {% include 'layout/profile/main_profile.html' %}
            {% include 'layout/widgets/_formactions.html' %}
            {% include 'layout/widget_stats/all/newest_tippers.html' %}
            {% include 'layout/widgets/mightbebugs.html' %}
            {% include 'layout/widgets/_rules_for_posts.html' %}
        </div>
    </div>
</div>