
<head>
    <meta charset="utf-8" />
    <!---Google--->
    <title> {{ post.title }} </title>
    {% if post.url_description|length > 5 %}
        <meta name="description" CONTENT="{{ post.url_description }}" >
    {% else %}
        <meta name="description" CONTENT="{{ thesub.description }}" >
    {% endif %}
    <meta name="keywords" CONTENT="{{ thesub.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="tipvote">



    <!---Facebook--->
    <meta property="fb:app_id" content="229847451437025" />
    <meta property="og:site_name" content="Tipvote" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ post.title }} " />
    {% if now %}
        <meta property="og:updated_time" content="{{ now }}" />
    {% else %}
    {% endif %}

    {% if post.url_description|length > 5 %}
        <meta property="og:description" CONTENT="{{ post.url_description }}" >
    {% else %}
        <meta property="og:description" CONTENT="{{ post.post_text }}" >
    {% endif %}

    {% if post.image_server_1|length > 5 %}
        <meta property="og:image" content="http://www.tipvote.com{{ url_for('common.post_file',filename=post.image_server_1)}}" />
        <meta property="og:image:secure_url" content="https://www.tipvote.com{{ url_for('common.post_file',filename=post.image_server_1)}}" />
    {% else %}
        {% if post.url_image_server|length > 5 %}
            <meta property="og:image" content="http://www.tipvote.com{{ url_for('common.post_file',filename=post.url_image_server)}}" />
            <meta property="og:image:secure_url" content="https://www.tipvote.com{{ url_for('common.post_file',filename=post.url_image_server)}}" />
        {% else %}
            <meta property="og:image" content="http://www.tipvote.com/images/social_logo_dark.png" />
            <meta property="og:image:secure_url" content="https://www.tipvote.com/images/social_logo_dark.png" />
        {% endif %}
    {% endif %}
    <meta property="og:url" content="https://www.tipvote.com{{ url_for('subforum.viewpost',subname=post.subcommon_name, postid = post.id) }} " />


    <!---Twitter--->
    <meta property="twitter:title" content="{{ post.title }} " />

    {% if post.url_description|length > 5 %}
        <meta property="twitter:description" CONTENT="{{ post.url_description }}" >
    {% else %}
        <meta property="twitter:description" CONTENT="{{ post.post_text }}" >
    {% endif %}
    {% if post.image_server_1|length > 5 %}
        <meta property="twitter:image" content="https://www.tipvote.com{{ url_for('common.post_file',filename=post.image_server_1)}}">
    {% else %}
        {% if post.url_image_server|length > 5 %}
            <meta property="twitter:image" content="https://www.tipvote.com{{ url_for('common.post_file',filename=post.url_image_server)}}">
        {% else %}
            <meta property="twitter:image" content="https://www.tipvote.com/images/social_logo_dark.png">
        {% endif %}
    {% endif %}
    <meta property="twitter:image:type" content="image/png" />
    <meta name="twitter:card" content="summary_large_image">


    {% include 'stylesheets.html' %}
</head>
