{% extends "layout/layout_msg.html" %}
{% block content %}



    <div class="col-12 second_color mb-3">
        <div class="col-12" style="">
            {%  include '/msg/_createcomment.html' %}
        </div>
        <div class="col-12  mb-3">
            {% for r in replys %}




                {% if r.sender_user_id == current_user.id %}

                    <div class="col-3 offset-7 mb-1" style="font-size: 11px">
                        {{ moment(timestamp=r.created).fromNow(refresh=True) }}
                    </div>

                    <div class="col-6 offset-5 mb-3 ">
                        <div class="row">
                            <div class="col-4 d-none d-md-block text-right">
                                <a href="{{ url_for('profile.main', user_name=r.sender_user_user_name) }}">
                                    {% if r.replysendermsg.profileimage == '' %}
                                        <img class="img-responsive rounded"
                                             src="{{ url_for('static',
                                     filename='images/noprofile.png') }}"
                                             width="40px" height="40px"
                                        >
                                    {% else %}
                                        <img class="img-responsive rounded"
                                             src="{{ url_for('common.profile_image',
                                     filename=r.replysendermsg.profileimage) }}"
                                             width="40px" height="40px"
                                        >
                                    {% endif %}
                                </a>
                            </div>
                            <div class="col-8 col-sm-8 col-md-8" style="background-color: #096ed4; border-radius: 25px;">
                                {{ r.body }}
                            </div>
                        </div>
                    </div>

                {% else %}


                    <div class="col-6 text-center offset-1 mb-1" style="font-size: 11px">
                        {{ moment(timestamp=r.created).fromNow(refresh=True) }}
                    </div>

                    <div class="col-6 offset-1  mb-3">
                        <div class="row m-0">
                            <div class="col-4 d-none d-md-block m-0 text-right">
                                <a href="{{ url_for('profile.main', user_name=r.sender_user_user_name) }}">
                                    {% if r.replysendermsg.profileimage == '' %}
                                        <img class="img-responsive rounded"
                                             src="{{ url_for('static',
                                     filename='images/noprofile.png') }}"
                                             width="40px" height="40px"
                                        >
                                    {% else %}
                                        <img class="img-responsive rounded"
                                             src="{{ url_for('common.profile_image',
                                     filename=r.replysendermsg.profileimage) }}"
                                             width="40px" height="40px"
                                        >
                                    {% endif %}
                                </a>
                            </div>

                            <div class="third_color col-8 col-sm-8 col-md-8 m-0" style=" border-radius: 25px;">
                                {{ r.body }}
                            </div>
                        </div>
                    </div>

                {% endif %}
            {% endfor %}

        </div>



    </div>

{% endblock %}