{% extends "layout/layout_2bars.html" %}
{% block content %}

    <div class="col-12 mb-5">
        <a class=" text-center btn btn-dark btn-block" href="{{ url_for('index') }}">Back to tipvote</a>
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3 mt-2   ">
        <div class="card darkbg">
            <h5 class="card-header">Bitcoin Bookmarks</h5>
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">Curated list of bitcoin Bookmarks.  Informative to navigate the crypto universe.</p>
                <a href="https://bitcoinbookmarks.com/">bitcoinbookmarks.com</a>
            </div>
        </div>
    </div>



{% endblock %}