{% extends "layout/layout_2bars.html" %}
{% block content %}

    <div class="col-12 text-center mb-5">
        <h3>Bug Bounty</h3>
    </div>
    <div class="row border border-dark second_color mb-5">
        <div class="col-12 second_color mb-5">
            We are always looking for ways to improve the security of the site.  If you think you found
            a bug, please send a private message under legal/DMCA.  We take suggestions and implementations
            seriously and will do our best to follow through to correct any security risk
        </div>

        <div class="col-12 text-center">
            <h5>Please be responsible</h5>
        </div>
        <div class="col-12   mb-5">
            <ul>
                <li>Do not violate privacy, data, or services of the site</li>
                <li>Do not publically disclose the bugs till we can investigate and fix the bug.</li>
                <li>Do not show private data of tipvote users.</li>
            </ul>
        </div>

        <div class="col-12 text-center ">
            <h5>How to report a security issue or bug</h5>
        </div>
        <div class="col-12 ">
            For non serious bugs, please visit
            <a class="" href="{{ url_for('subforum.sub', subname='bugs') }}">
                bugs
            </a>
        </div>

        <div class="col-12  mb-5">
            For critical security flaws, issues with submitting data, or anything else critical. Visit
            <a href="{{ url_for('legal.main') }}">
                Legal/DMCA
            </a>
        </div>
    </div>

    <div class="col-12 text-center mb-5">
        <h3> Tipvote Heroes</h3>
    </div>
    <div class="row ">
        <div class="col-6 second_color border border-dark  mb-2 p-3">
            <a href="{{ url_for('profile.main', user_name='Beetlejuice') }}">
                <div class="text-center  text-white">
                    <h5><b>
                    <div class="">u/Beetlejuice</div>
                    </b></h5>
                </div>
            </a>
            <br>
            Reddit: /u/mariomejia137
            <br>
            Instagram: @mariomejia137
        </div>


    </div>

{% endblock %}