{% extends "layout/layout_plain.html" %}
{% block content %}

    <div class="col-12 mt-2 text-white  pb-3 pt-3">
        <div class="col-12 text-center mt-3 h1 ">
            Welcome to Tipvote!
        </div>
        <div class="col-12 text-center border-bottom border-dark">
            <p class="h3">
                Tipvote is a way to share your thoughts, opinions, and information to the world.

            </p>
        </div>



        <div class="col-12 second_color pt-5 pb-5" style="background-color:#7C007C">
            <div class="box-part text-center">
                <i class="fa fa-comment-alt fa-3x" aria-hidden="true"></i>
                <div class="title pb-5">
                    <h2>Censorship Free</h2>
                </div>
                <div class="text h4 pt-5">
                    <span>Free Speech is exercised and encouraged.  Please be civil and respectful.  </span>
                </div>
                <div class="row mt-5 mb-5 d-none d-sm-block">
                    <div class="col-sm-12">
                        <img class="img-responsive" src="{{ url_for('static', filename='images/welcome/example_post.png')  }}">
                    </div>
                </div>
            </div>
        </div>


        <div class="col-12 text-white pt-5 pb-5" style="background-color: #00aeff">
            <div class="box-part text-center">
                <i class="fa fa-home fa-3x" aria-hidden="true"></i>
                <div class="title pb-5">
                    <h2>Rooms</h2>
                </div>
                <div class="text h4 pt-5">
                    <span>Rooms are online communities run by the community.  They are dedicated to a specific topic.</span>
                    <div class="row  mt-5 mb-5">
                        <div class="col-6">
                            <img class="text-left" src="{{ url_for('static', filename='images/welcome/rooms.png')  }}">
                        </div>
                        <div class="col-6 pt-4">
                            Rooms can be created by anyone <br>
                            <br><br>
                            They look like /a/general
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 text-white pt-5 pb-5 second_color" >
            <div class="box-part text-center">
                <i class="fa fa-bitcoin fa-3x" aria-hidden="true"></i>
                <div class="title pb-5">
                    <h2>Crypto</h2>
                </div>
                <div class="text h4">
                    <div class="row pt-4">
                        <div class="col-12 col-sm-6 offset-sm-3">Get Tipped for Posting and being apart of the community.</div>

                    </div>
                    <div class="row pt-4 pb-5">
                        <div class="col-12 col-sm-6 ">Support for multiple currencies</div>
                    </div>
                    <div class="row pt-4 pb-5">
                        <div class="col-12 col-sm-6 offset-sm-3">Easy to learn and tip</div>
                    </div>
                    <div class="row pt-4 pb-5">
                        <div class="col-12 col-sm-6 offset-sm-6">No Documentation Required</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-4">
                        <img class="text-left" src="{{ url_for('static', filename='images/coins/btc/btc-logo.png')  }}" width="125px" height="125px">
                    </div>
                    <div class="col-12 col-sm-4">
                        <img class="text-left" src="{{ url_for('static', filename='images/coins/bch/bitcoin-cash-bch.png')  }}" width="125px" height="125px">
                    </div>
                    <div class="col-12 col-sm-4">
                        <img class="text-left" src="{{ url_for('static', filename='images/coins/xmr/2.png')  }}" width="125px" height="125px">
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="col-12 text-white text-center h3">
    Lets Get Started
    </div>

    <div class="col-12 mb-5 mt-5 text-center">
        <a class=" text-center text-white btn btn-success mb-2"
           href="{{ url_for('discoversubs') }}">
            Go To Tipvote
        </a>
    </div>


{% endblock %}