<style>
    html,
    body {
        font-size: 13px !important;
        background-color:#131722 !important;
        font-family: "Segoe UI" !important;
        color:#ffffff !important;
    }
    .headercolor {
        background-color:#18191A;
    }

    .second_color {
        background-color:#1E222D;
        color:#DBEEEE;
    }
    .third_color {
        background-color:#3A3B3C;
    }

    .mainfontcolor{
        color:#ffffff;
    }

    {#Display colors after voting #}
    .downred{
        color:#D50000;
        display: inline;
    }

    .upgreen{
        color:#00ff00;
        display: inline;
    }
    {#light gray color in posts#}
    .post_text_color{
        color: #818384;
    }

    .postdiv:hover {
        box-shadow: inset 0 0 0 1px #9d9d9d !important;
        border: #FFFFFF;
    }
    .panelborder {
        border: solid #393a3a;
        border-width: 1px;
    }
    .darkbg {
        background-color: #343A40;
    }
    .verydarkbg {
        background-color: #18191A;
    }

    .user_name_color a:link { color: #818384;  text-decoration:none;}
    .user_name_color a:visited { color: #818384;  text-decoration:none; }
    .user_name_color a:hover { color: #818384;  text-decoration:none;}
    .user_name_color a:active { color: #818384;  text-decoration:none;}

    .user_name_color_same_as_poster a:link { color: #0084ff  ;  text-decoration:none;}
    .user_name_color_same_as_poster a:visited { color:#0084ff  ;  text-decoration:none; }
    .user_name_color_same_as_poster a:hover { color: #0084ff  ;  text-decoration:none;}
    .user_name_color_same_as_poster a:active { color: #0084ff  ;  text-decoration:none;}

    .linkcolor a:link { color: #FFFFFF;  text-decoration:none;}
    .linkcolor a:visited { color: #FFFFFF;  text-decoration:none; }
    .linkcolor a:hover { color: #909090;  text-decoration:none;}
    .linkcolor a:active { color: #909090;  text-decoration:none;}

    .lightgraytext{
        color:#818384;
    }

    .textboxcolors{
        background-color: #000000;
        color: #ffffff;
     border: 2px solid #818384;
        border-radius: 4px;
        width:100%;
        padding: 5px 10px;
        font-size: 14px;
    }
</style>