<style>
/* buttons */

.btn-tipvote-up, .btn-tipvote-up:hover, .btn-tipvote-up:active, .btn-tipvote-up:visited {
    background-color: #00ff00 !important;
}
.btn-tipvote-down, .btn-tipvote-down:hover, .btn-tipvote-down:active, .btn-tipvote-down:visited {
    background-color: #D50000 !important;
}

.btn-ts,
.btn-ts:hover,
.btn-ts:active,
.btn-ts:visited,

.btn-ts:focus {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: #818384;
    text-decoration: none;
}

.btn-ee,
.btn-ee:active,
.btn-ee:visited,

.btn-ee:focus {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: #ffffff;
    text-decoration: none;
}
.btn-ee:hover {
    background-color: #242526;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: #ffffff;
    text-decoration: none;
}

.btn-downvote,
.btn-downvote:active,
.btn-downvote:visited,

.btn-downvote:focus {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: #D50000;
    text-decoration: none;
}
.btn-downvote:hover {
    background-color: #D50000;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: #D50000;
    text-decoration: none;
}

.btn-upvote,
.btn-upvote:active,
.btn-upvote:visited,

.btn-upvote:focus {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: #00FD2B;
    text-decoration: none;
}
.btn-upvote:hover {
    background-color: #00FD2B;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: #00FD2B;
    text-decoration: none;
}


.btn-pa,
.btn-pa:active,
.btn-pa:visited,

.btn-pa:focus {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: #818384;
    text-decoration: none;
}
.btn-pa:hover {
    background-color: #242526;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: #818384;
    text-decoration: none;
}

    </style>