
/* boostrap mods */
.wrapper {
    min-height: calc(100vh - 370px);

    #display: grid;
    grid-template-rows: auto 1fr auto;
}

/* Designated Colors */
.moneroorange{
    color:#FF6600;
    display: inline;
}

.btcorange{
    color:#FF9900;
    display: inline;
}

.btccashgreen{
    color:#4cca47;
    display: inline;
}

.ltcblue{
    color:#00aeff;
    display: inline;
}

.msg_color {
    background-color:#229954  ;
}

.rndimg{
    border-radius: 50%;
}
.dot {
    height: 20px;
    width: 20px;

    border-radius: 50%;
    display: inline-block;
}
code {
    background-color: grey;
    border-radius: 0.3em;
    padding: 4px 5px 6px;

    word-wrap: break-word;
}

.commoncoin{
    color:#abb2b9 ;
    display: inline;
}
.semicommoncoin{
    color:#4d5656 ;
    display: inline;
}
.rarecoin{
    color:  #8e44ad ;
    display: inline;
}
.epiccoin{
    color:#2980b9;
    display: inline;
}
.legendarycoin{
    color:#e67e22 ;
    display: inline;
}


.border-dotted{
    border-left-style: dashed;
    border-width: 1px;
}



.btn-group-xs > .btn, .btn-xs {
    padding: .25rem .4rem;
    font-size: .775rem;
    line-height: .5;
    border-radius: .2rem;
}

.border-1 {
    border-bottom:1px solid #909090;
}

.profileimage {
    max-width: 150px;
    width: 100%;
}

.anoncolor{
    color:#66FF99;
}

.date_color  {
    color: #818384;
    text-decoration:none;
}



.accordion {
    width: 100%;

    border: none;
    outline: none;

    color: #818384;
    cursor: pointer;
    transition: background-color 0.2s linear;
}




/* input text bar for posting */
#header{
    display:flex;
    flex-direction:row;
}
#column1{
    display:flex;
    flex-direction:column;
    width: 90%;

}
#column2{
    display:flex;
    flex-direction:column;
    padding-left: 20px;
}
#column3{
    display:flex;
    flex-direction:column;
    padding-left: 20px;
}


/* nav tabs */
.nav-tabs{
    background-color:#161616;
}
.tab-content{
    background-color:#303136;
    color:#303136;
    padding:5px
}
.nav-tabs > li > a{
    border: medium none;
}

/* responsive max images */
.img-max {
    max-width: 100%;
}







.vote-fixed-width-item {
    flex: 0 0 50px;
}


.wallimage {

    max-height: 370px;
    max-width: 600px;

    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;

}

.Postsize {
    max-height: 900px;
    max-width: 600px;

    overflow: hidden;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.smallbannerimage{
    overflow: hidden;
    max-height: 75px;
    max-width: 600px;
}

.form-rounded {
border-radius: 1rem;
}

