<div class="row pr-3 mb-2">
    <div class="col-12 second_color border border-dark">

        <div class="text-center">
        Subscribe
        </div>
    <div class="col-12 text-center mt-4">
        <form method="post" action="{{ url_for('subforum.subunsubtoforum', subname=thesub.subcommon_name) }}">
            {{ subform.csrf_token }}
            {% if seeifsubbed == 1 %}
                {{ render_field(subform.unsubscribe,  value="Leave ", autocomplete="off", class="btn btn-sm btn-dark") }}
            {% else %}
                {{ render_field(subform.subscribe,  value="Join", autocomplete="off", class="btn btn-sm btn-dark") }}
            {% endif %}
        </form>
    </div>
</div>