{% extends "layout/layout_plain.html" %}
{% block content %}
    <div class="col-12 ">
        <a class="btn btn-dark  mb-3" href="{{ url_for('subforum.sub', subname=thesub.subcommon_name) }}">
            Back to {{ thesub.subcommon_name }}
        </a>
    </div>



    <div class="row second_color">
        <div class="col-12 mt-5">
            <form method="post" class="form-horizontal" enctype="multipart/form-data" action="{{ url_for('mod.customsub_bannerimage', subname=thesub.subcommon_name) }}">
                {{ subcustomform.csrf_token }}
                <div class="form-group">
                    <label class="col-12 "><b>Banner Image</b></label>
                    <div class="col-12 w-100">
                        {% if subcustom.banner_image == '' %}
                            No Banner
                        {% else %}
                            <img src="{{ url_for('common.banner_image', filename=subcustom.banner_image) }}" >
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-12 ">Upload a banner image.  The height of a banner is 200px.</label>
                    <div class="col-12 w-100">
                        {{ render_field(subcustomform.subbannerimage) }}
                    </div>

                </div>
                <div class="col-md-6 offset-md-4">
                    {% if subcustom.banner_image == '' %}

                    {% else %}
                        {{ render_field(subcustomform.delete,value="Delete Banner Image",class='btn btn-danger') }}
                    {% endif %}

                    {{ render_field(subcustomform.submit,value="Update banner image",autocomplete="off",class="btn btn-dark btn-small ") }}
                </div>
            </form>
        </div>
    </div>


    <div class="row second_color">
        <div class="col-12 mt-5">
            <form method="post" class="form-horizontal" enctype="multipart/form-data" action="{{ url_for('mod.customsub_thumbnail_image', subname=thesub.subcommon_name) }}">
                {{ subcustomform_thumbnail.csrf_token }}
                <div class="form-group">
                    <label class="col-12 "><b>Thumbnail Image of Room</b></label>
                    <div class="col-12 w-100">
                        {% if subcustom.mini_image == '' %}
                            No thumbnail
                        {% else %}

                            <img src="{{ url_for('common.banner_image', filename=subcustom.mini_image) }}" >
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-12 ">Upload a thumbnail image</label>
                    <div class="col-12 w-100">
                        {{ render_field(subcustomform_thumbnail.subthumbnailimage) }}
                    </div>

                </div>
                <div class="col-md-6 offset-md-4">
                    {% if subcustom.mini_image == '' %}

                    {% else %}
                        {{ render_field(subcustomform_thumbnail.delete,value="Delete Thumbnail Image",class='btn btn-danger') }}
                    {% endif %}

                    {{ render_field(subcustomform_thumbnail.submit,value="Update Thumbnail image",autocomplete="off",class="btn btn-dark btn-small ") }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}