
<div class="row second_color mt-2 text-white">
    <div class="col-12 text-left mt-3">
        <b>Withdraw Funds</b>
    </div>
    <div class="col-12 text-center">
        You can withdraw {{ withdrawmamount }} BTC

    </div>

    <div class="col-12">

        <form method="post" action="{{ url_for('wallet_btc_test.sendcoin') }}">
            {{ form.csrf_token }}

            <div class="form-group row">
                <label  class="col-12 col-form-label text-leftt">BTC Address</label>
                <div class="col-12">
                    {{ render_field(form.sendto,autocomplete="off", class="textboxcolors") }}
                </div>
            </div>

            <div class="form-group row">
                <label class="col-12 col-form-label text-left">Amount</label>
                <div class="col-12 col-sm-8">
                    {{ render_field(form.amount, autocomplete="off", class="textboxcolors")  }}
                </div>
            </div>
            <div class="form-group row">
                <label  class="col-12 col-form-label text-left">Pin</label>
                <div class="col-12 col-sm-8">
                    {{ render_field(form.pin,  autocomplete="off", class="textboxcolors")  }}
                </div>
            </div>

            <div class="col-12 text-center" style="font-size: 12px">Current Fee: {{ wfee|btctostring }} BTC</div>
            <div class="col-md-2 offset-md-5 mt-2">
                {{ render_field(form.submit,  value="Withdraw", autocomplete="off", class="btn btn-success ") }}

            </div>
              <div class="col-md-6 offset-md-4 mainfontcolor">
                <a href="{{ url_for('users.retrievepin') }}">Lost your pin?</a>
            </div>
        </form>
    </div>
</div>