<div class="col-12 text-center mt-2 mb-2  pt-2" style="font-size: 12px; border-top: 1px solid rgba(77,77,77,0.25)">
    <!---large screen-->
    <div class="row ">
        <div class="col-3  pt-2 pb-2 text-center btn-ee "
             onclick="window.location.href='{{ url_for('subforum.viewpost',
             subname=post.subcommon_name,
              postid = post.id) }}';">

            <a class="btn-ee " style="display: block"
               href="{{ url_for('subforum.viewpost',subname=post.subcommon_name,postid = post.id) }}">
                <div class="d-inline p-0" id="comment_count_before_{{ post.id }}">
                    {{ post.comment_count }} comments
                </div>

                <div class="font-weight-bold"
                     id="comment_count_after_{{ post.id }}"
                     style="display: none; color: #00ff00; font-size: 14px">
                     <i class=" fa fa-arrow-up fa-1x" style="color: #00ff00"></i>
                </div>
            </a>
        </div>

        <div class="col-3 pt-2 pb-2 btn-ee  " >
            <button class="btn-ee "
                    type="button" data-toggle="modal" data-target="#WriteModal_{{ post.id }}">
                Write
            </button>
            <!-- Modal -->
            <style>
                .modal-header {
                    background-color: #242425;
                    color: #FFFFFF;
                    border: none;
                    text-align: center;
                }
                .modal-body {
                    background-color: #242425;
                        color: #FFFFFF;
                    border: none;
                }
                .modal-footer {
                    background-color: #242425;
                    color: white;
                    border: none;
                }


            </style>
            <div class="modal fade" id="WriteModal_{{ post.id }}" tabindex="-1"
                 role="dialog" aria-labelledby="WriteModalLabel" aria-hidden="true">
                <div class="modal-dialog  modal-dialog-centered" role="document">
                    <div class="modal-content  " style="">
                        <div class="modal-header">
                            <h5 class="modal-title text-center" id="WriteModalLabel">
                                Comment on {{ post.user_name }}'s post
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" >
                            <div class="col-12 pb-3">
                                {% if post.title %}
                                    {{ post.title }}
                                {% else %}
                                {% endif %}
                            </div>
                            {% include 'create/comment/_comment_post_form.html' %}
                        </div>

                        <div class="modal-footer">
                            <button
                                    class="btn btn-success"
                                    id="click-btn-post-comment-{{ post.id }}"
                                    value="submit"
                                    type="button"
                                    data-dismiss="modal"
                            >
                                Post
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-3 pt-2 pb-2 btn-ee   w-100 h-100"
             onclick="window.location.href='{{ url_for('promote.promotepost',subname=post.subcommon_name,postid=post.id) }}';">
            <a class="btn-ee   w-100 h-100" href="{{ url_for('promote.promotepost',subname=post.subcommon_name,postid=post.id) }}">
                Promote
            </a>
        </div>

        <div class="col-3 pt-2 pb-2 text-center  btn-ee "
             onclick="window.location.href='{{ url_for('tip.create_tip_post',subname=post.subcommon_name,postid = post.id) }}';">
            <a class="btn-ee  " href="{{ url_for('tip.create_tip_post',subname=post.subcommon_name,postid = post.id) }}">
                Tip
            </a>

        </div>
    </div>

</div>