{% if post.post_coins %}
    {% if post.post_coins.coin_1 == 0
     and post.post_coins.coin_2 == 0
     and post.post_coins.coin_3 == 0
      and post.post_coins.coin_4 == 0
      and post.post_coins.coin_5 == 0
       and post.post_coins.coin_6 == 0%}
    {% else %}
        <div class="row mt-3">
            <div class="col-12 " style="font-size: 12px; margin-top: -10px">

                {% if post.post_coins.coin_1 != 0 %}
                    <img src="{{ url_for('static', filename='images/coins/tipvote/1.png')  }}"
                         width="20px" height="20px">
                    X {{ post.post_coins.coin_1 }}
                {% endif %}

                {% if post.post_coins.coin_2 != 0 %}

                    <img src="{{ url_for('static', filename='images/coins/tipvote/2.png')  }}"
                         width="20px" height="20px">
                    X {{ post.post_coins.coin_2 }}
                {% endif %}
                {% if post.post_coins.coin_3 != 0 %}

                    <img src="{{ url_for('static', filename='images/coins/tipvote/3.png')  }}"
                         width="20px" height="20px">
                    X {{ post.post_coins.coin_3 }}
                {% endif %}
                {% if post.post_coins.coin_4 != 0 %}

                    <img src="{{ url_for('static', filename='images/coins/tipvote/4.png')  }}"
                         width="20px" height="20px">
                    X {{ post.post_coins.coin_4 }}
                {% endif %}
                {% if post.post_coins.coin_5 != 0 %}

                    <img src="{{ url_for('static', filename='images/coins/tipvote/5.png')  }}"
                         width="20px" height="20px">
                    X {{ post.post_coins.coin_5 }}
                {% endif %}
                {% if post.post_coins.coin_6 != 0 %}

                    <img src="{{ url_for('static', filename='images/coins/tipvote/6.png')  }}"
                         width="20px" height="20px">
                    X {{ post.post_coins.coin_6 }}
                {% endif %}
                {% if post.post_coins.coin_7 != 0 %}

                    <img src="{{ url_for('static', filename='images/coins/tipvote/7.png')  }}"
                         width="20px" height="20px">
                    X {{ post.post_coins.coin_7 }}
                {% endif %}
                {% if post.post_coins.coin_8 != 0 %}

                    <img src="{{ url_for('static', filename='images/coins/tipvote/8.png')  }}"
                         width="20px" height="20px">
                    X {{ post.post_coins.coin_8 }}
                {% endif %}
                {% if post.post_coins.coin_9 != 0 %}
                  
                    <img src="{{ url_for('static', filename='images/coins/tipvote/9.png')  }}"
                         width="20px" height="20px">
                    X {{ post.post_coins.coin_9 }}
                {% endif %}
                {% if post.post_coins.coin_10 != 0 %}

                    <img src="{{ url_for('static', filename='images/coins/tipvote/10.png')  }}"
                         width="20px" height="20px">
                    X {{ post.post_coins.coin_10 }}
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endif %}