

<div class="col-12 text-center" style="max-height: 30px">
    <form method="post">
        {{ voteform.csrf_token }}
        <button
                class="btn btn-upvote"
                id="click-btn"
                value="{{ post.id }}"
                type="button"
        >
            <div id="response"></div>
            <img src="{{ url_for('static',
             filename='images/arrows/uparrow.png')  }}"
                 width="20px" height="20px">
        </button>
    </form>
</div>
<div class="col-12 mb-0 text-center  ">
    <div class="row">
        {% if post.hotness_rating_now == 0 %}
            <div class="col-12  h5 m-0 ">
                {{ post.highest_exp_reached }}
            </div>
        {% else %}
            {% if post.hotness_rating_now < 0  %}

                <div class="col-12  h5 m-0 downred text-center" >
                    {{ post.hotness_rating_now }}
                </div>
            {% elif 0 <= post.hotness_rating_now <= 9 %}
                <div class="col-12 text-right h5 m-0 upgreen text-center" >
                    {{ post.hotness_rating_now }}
                </div>
            {% elif 10 <= post.hotness_rating_now <= 998 %}
                <div class="col-12  h5 m-0 upgreen text-center" >
                    {{ post.hotness_rating_now }}
                </div>
            {% elif 999998 >= post.hotness_rating_now >= 999 %}
                <div class="col-12  h5 m-0 upgreen text-center" >
                    {{ post.hotness_rating_now }}
                </div>
            {% elif post.hotness_rating_now > 999999 %}
                <div class="col-12  h5 m-0 upgreen text-center" >
                    {{ post.hotness_rating_now }}
                </div>
            {% else %}
                <div class="col-12  h5 m-0 upgreen text-center" >
                    {{ post.hotness_rating_now }}
                </div>
            {% endif %}
        {% endif %}
    </div>
</div>

<div class="col-12  text-center" style="max-height: 30px">
    <form method="post" action="{{ url_for('vote.post_vote',votetype=2, postid=post.id, subname=post.subcommon_name) }}">
        {{ voteform.csrf_token }}
        <button type="submit" class="btn btn-downvote" >
            <img src="{{ url_for('static', filename='images/arrows/downarrow.png')  }}"
                 width="20px" height="20px">
        </button>
    </form>
</div>
