
{% include 'common/js/vote/upvote_post.html' %}
{% include 'common/js/vote/downvote_post.html' %}

<div class="col-12 text-center" style="max-height: 30px">
    <form method="post"
          action="{{ url_for('vote.upvote_post', postid=post.id) }}">
        {{ voteform.csrf_token }}


        <button
            class="btn btn-upvote"
            id="click-btn-upvote-post-{{ post.id }}"
            value="{{ post.id }}"
            type="button"
        >
            <img alt='' src="{{ url_for('static',
             filename='images/arrows/uparrow.png')  }}"
                 width="20px" height="20px">
        </button>


    </form>
</div>

<div class="col-12 mb-0 text-center">
    <div class="row">
        <div class="col-12 h5 m-0 " id="number_before_{{ post.id }}">
            {{ post.highest_exp_reached }}
        </div>
        <div class="col-12 h5 m-0 upgreen" id="number_after_up_{{ post.id }}">
            {{ newnumber }}
        </div>
        <div class="col-12 h5 m-0 downred" id="number_after_down_{{ post.id }}">
            {{ newnumber }}
        </div>
    </div>
</div>

<div class="col-12  text-center" style="max-height: 30px">
    <form method="post" action="{{ url_for('vote.downvote_post', postid=post.id) }}">
        {{ voteform.csrf_token }}

        <button
            class="btn btn-downvote"
            id="click-btn-downvote-post-{{ post.id }}"
            value="{{ post.id }}"
            type="button"
        >

            <img alt='' src="{{ url_for('static', filename='images/arrows/downarrow.png')  }}"
                 width="20px" height="20px">
        </button>
    </form>
</div>
