{% if post.url_of_post %}
    <a href="{{ post.url_of_post }}">
        <div class="col-12  p-0 mb-2 third_color text-break h5 ">
            <div class="col-12 w-100 m-0 p-0 text-center overflow-hidden">
                {% if post.url_image_server  %}
                    <img class="img-fluid"
                         alt=""
                         src="{{ url_for('common.post_file',filename=post.url_image_server) }}"
                    >
                {% endif %}
            </div>
            <div class="col-12  w-100" style="font-size: 10px;">
                {% if post.url_of_post %}
                    {% if viewpost == 1 %}
                    {{ post.url_of_post }}
                    {% endif %}
                {% endif %}
            </div>
            <div class="col-12  w-100" style="font-size: 16px;">
                {% if post.url_title %}
                    {{ post.url_title }}
                {% endif %}
            </div>
        </div>
    </a>
{% endif %}