<div class="col-12  second_color mb-3  p-0 ">

    <!--Normal post-->
    {% if post.hidden == 0 %}
        {% include 'posts/classic/_topinfo.html' %}
        {% if post.shared_post == 0 %}

            {% if post.title %}
                {% include 'posts/classic/_post_title.html' %}
            {% else %}
            {% endif %}

            {% if viewpost == 1 %}
                {% include 'posts/classic/_text.html' %}
                {% include 'posts/classic/_image.html' %}
                {% include 'posts/classic/_url.html' %}
            {% else %}
                {% include 'posts/classic/_text.html' %}
                {% include 'posts/classic/_image.html' %}
                {% include 'posts/classic/_url.html' %}
            {% endif %}



        {% else %}
            <div class="col-12">
                <div class="row  p-3">
                    {% include 'posts/classic/_text.html' %}
                    <div class="col-12 border ">
                        {% include 'posts/classic/_shared_topinfo.html' %}
                        {% include 'posts/classic/_post_title.html' %}
                        {% if viewpost == 1 %}
                            {% include 'posts/classic/_shared_text.html' %}
                            {% include 'posts/classic/_url.html' %}
                        {% endif %}
                        {% include 'posts/classic/_image.html' %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% else %}
        <p class="text-danger font-weight-bold text-center col-12">Post has been deleted</p>
    {% endif %}


    {% include 'posts/classic/_buttons.html' %}
    {% if viewpost == 1 %}
        {% include 'posts/classic/_admin_buttons.html' %}
    {% endif %}

</div>
