<style>
    .image_medium{

        width: 100%;
        height: 100px;
        border-radius: 5px;
    }

</style>

{% if post.url_image_server %}
    <div style="margin-top: 15px">
    <a href="{{ url_for('common.post_file', filename=post.url_image_server) }}">
        <img
                class="img-fluid image_medium"
                src="{{ url_for('common.post_file',filename=post.url_image_server) }}"
        >
    </a>
    </div>

{% else %}
    {% if post.image_server_1  %}
        <div style="margin-top: 15px; margin-bottom: 15px">
        <a href="{{ url_for('common.post_file', filename=post.image_server_1) }}">
            <img
                    class="img-fluid image_medium"
                    src="{{ url_for('common.post_file',filename=post.image_server_1) }}"
            >
        </a>
        </div>
    {% else %}
        <div class="col-12 third_color image_medium" style="margin-top: 7px; margin-bottom: 7px;">

</div>
    {% endif %}
{% endif %}
