
<div class="col-12  panelborder" style="">

    <div class="row">

        <div class="col-2 col-sm-1 col-md-1 col-lg-1 col-xl-1 p-1 darkbg "
             style=" max-width: 45px; margin-right: 10px;">
            <div style="margin-top: 20%">
            {% include 'posts/panels_medium/_post_votes.html' %}
                </div>
        </div>
        <div class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-1 p-0"
             >
            {% include 'posts/panels_medium/_post_image.html' %}
        </div>

        <div class="col-7 col-sm-8 col-md-8 col-lg-9 col-xl-10 " style="overflow: hidden" >
            {% include 'posts/panels_medium/_content.html' %}
        </div>

    </div>
</div>
