
<div class="row mb-2">
    <div class="col-12  pb-2 second_color">
        <div class="border-bottom mb-2">
            Stats
        </div>
        Post Views: {{ post.page_views }}<br>
        Comments: {{ post.comment_count }}<br><br>
        Upvotes: {{ post.upvotes_on_post }}<br>
        Downvotes: {{ post.downvotes_on_post }}<br><br>

        {% if post.decay_rate %}
        Decay Rate: {{ post.decay_rate }}<br>
        {% endif %}
        Current Score: {{ post.hotness_rating_now }}<br>
        Top Score: {{ post.highest_exp_reached }}<br>
    </div>
</div>

