<!DOCTYPE html>
<html lang='en'>
{% include 'layout/basic/metadata.html' %}
{% include 'layout/headers/header.html' %}

<div class="wrapper">
    <body>

    {% from "_formhelper.html" import render_field %}
    {% include 'layout/headers/depositheader.html' %}
    {% include 'subforums/banner/all.html' %}

    <div class="container-fluid mt-3">

        <div class="row " >
            <!-- Left Side -->
            <div class=" col-sm-4 col-md-4 col-lg-3 col-xl-2 d-none d-lg-block main_color">
                {% include 'layout/profile/main_profile.html' %}
                {% include 'layout/widgets/_wallets.html' %}
                {% if current_user.is_authenticated %}

                    {% if ownercount > 0 or moddingcount > 0%}
                        {% include 'layout/widgets/boss.html' %}
                    {% endif %}
                    {% include 'layout/widgets/subscriptions.html' %}
                {% else %}
                    {% include 'layout/widgets/subscriptions_guest.html' %}
                {% endif %}
            </div>

            <!-- Middle -->
            <div class="col-sm-12 col-md-10 offset-md-1 offset-lg-0 offset-xl-1 col-lg-6 col-xl-6 mb-5 ">
                <div style="max-width: 600px; margin: 0 auto;">
                    {% include "flashbar.html" %}
                    {#{% include 'promote/all/top_all.html' %}#}
                    {% if current_user.is_authenticated %}
                        {% include 'create/posts/master/_full_form.html' %}
                    {% else %}
                        {% include 'create/posts/master/_fake_create_post.html' %}
                    {% endif %}


                    <script
                            src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
                    </script>
                    <script type="text/javascript">
                        $(document).on('click', '#click-btn', function(event) {

                            $.ajax({
                                url: "{{ url_for('vote.upvote_post') }}",
                                type: "post",
                                contentType: 'application/json;charset=UTF-8',
                                data : JSON.stringify($(this).attr("value")),
                                dataType: 'json',

                                success: function(data) {

                                    console.log("success");
                                    console.log(data);
                                    return data;
                                },
                                error: function(xhr, textStatus, errorThrown) {

                                    console.log(textStatus)
                                    console.log(errorThrown)
                                }
                            });
                            event.preventDefault();
                        });
                    </script>

                    {% block content %}
                    {% endblock %}
                </div>
            </div>

            <!-- Right -->
            <div class="offset-md-1 offset-lg-0 offset-xl-1 col-lg-3 col-xl-2  d-none d-lg-block " >
                {% include 'layout/widgets/_formactions.html' %}

                {% include 'layout/widget_stats/all/newest_tippers.html' %}

                {% include 'layout/widgets/mightbebugs.html' %}
            </div>
        </div>
    </div>
    </body>
    {% include 'layout/basic/_footer.html' %}
</div>
</html>