<!DOCTYPE html>
<html lang='en'>
{% include 'layout/basic/metadata.html' %}
{% include 'css/main.html' %}
{% include 'layout/headers/header.html' %}
{% include 'layout/headers/depositheader.html' %}
{% from "_formhelper.html" import render_field %}
<style>
    .wrapper2 {
    min-height: calc(100vh - 360px);

    #display: grid;
    grid-template-rows: auto 1fr auto;
}
</style>
<div class="wrapper2">
    <body>
    <div class="container mt-2">

        {% include "flashbar.html" %}
        {% block content %}

        {% endblock %}
    </div>
    </body>
</div>

{% include 'layout/basic/_footer.html' %}

</html>