<!DOCTYPE html>
<html lang='en'>
{% include 'layout/basic/metadata_followers.html' %}
{% include 'layout/headers/header.html' %}

<div class="wrapper">
    <body>

    {% from "_formhelper.html" import render_field %}
    {% include 'layout/headers/depositheader.html' %}

    <div class="container mt-3">
        <div class="row " >

            <!-- Left Side -->
            <div class="col-lg-3 col-xl-3 d-none d-xl-block main_color">
                {% include 'layout/profile/main_profile.html' %}
                {% include 'layout/widgets_coins/_wallets_balance.html' %}
                {% include 'layout/widgets/_current_prices.html' %}
            </div>

            <!-- Middle -->
            <div class="col-sm-12 col-md-12 col-lg-8 col-xl-6 mb-5 ">
                <div style="max-width: 600px; margin: 0 auto">
                    {% include 'layout/widgets_subs/nav/index_topnav.html' %}
                    {% include "flashbar.html" %}

                    {% if current_user.is_authenticated %}
                        {% include 'create/posts/master/_full_form.html' %}
                    {% else %}
                        {% include 'create/posts/master/_fake_create_post.html' %}
                    {% endif %}

                    {% block content %}
                    {% endblock %}

                </div>
            </div>

            <!-- Right -->
            <div class="col-sm-3 col-md-4 col-lg-3 col-xl-3 d-none d-lg-block">
                {% include 'layout/widgets/_formactions.html' %}
                {% include 'layout/widgets/_rules_for_posts.html' %}
                {% include 'layout/widget_stats/all/newest_tippers.html' %}
            </div>
        </div>
    </div>

    </body>
    {% include 'layout/basic/_footer.html' %}
</div>
</html>