<!DOCTYPE html>
<html lang='en'>
{% include 'layout/basic/metadata.html' %}
{% include 'layout/headers/header.html' %}
    {% include 'layout/headers/depositheader.html' %}
{% from "_formhelper.html" import render_field %}
<div class="wrapper">
    <body>
    {% include 'layout/headers/depositheader.html' %}
    <div class="container mt-3">
        <div class="row">

            <!-- Left Side -->
            <div class="col-3 main_color">
                {% include 'layout/profile/main_profile.html' %}
                {% include 'layout/widgets/_wallets.html' %}
                {% if current_user.is_authenticated %}
                    {% include 'layout/widgets/_categoryside.html' %}
                {% endif %}
            </div>

            <!-- Middle -->
            <div class="col-6">
                {% include "flashbar.html" %}
                {% block content %}
                {% endblock %}
            </div>

            <!-- Right Side -->
            <div class="col-3">
                {% include 'layout/widgets/_formactions.html' %}
                {% include 'layout/widgets/_coinprices.html' %}
            </div>
        </div>
    </div>
    <div class="mb-5"></div>
    </body>
</div>
    {% include 'layout/basic/_footer.html' %}
</html>