<!DOCTYPE html>
<html lang='en'>
{% include 'layout/basic/metadata_sub.html' %}
{% include 'css/main.html' %}
{% include 'layout/headers/header.html' %}
{% from "_formhelper.html" import render_field %}
<style>
    .wrapper2 {
    min-height: calc(100vh - 370px);

    #display: grid;
    grid-template-rows: auto 1fr auto;
}
</style>
<div class="wrapper2">
    <body>

    {% include 'layout/headers/depositheader.html' %}

    {% if subcustom_stuff %}
        {% if subcustom_stuff.banner_image == '' %}
            {% include 'subforums/banner/plain_banner.html' %}
        {% else %}
            {% include 'subforums/banner/main_banner.html' %}
        {% endif %}
    {% else %}
        {% include 'subforums/banner/plain_banner.html' %}
    {% endif %}


    {% block content %}
    {% endblock %}



    </body>

</div>
{% include 'layout/basic/_footer.html' %}
</html>