<!DOCTYPE html>
<html lang='en'>

{% include 'layout/basic/metadata.html' %}
{% include 'css/main.html' %}

{% include 'layout/headers/header.html' %}
{% from "_formhelper.html" import render_field %}
<div class="wrapper">
    <body>
    {% from "_formhelper.html" import render_field %}
    {% include 'layout/headers/depositheader.html' %}
    {% include 'subforums/banner/all.html' %}


    {% block content %}
    {% endblock %}

    {% include 'layout/basic/_footer.html' %}

    </body>
</div>
</html>