<!DOCTYPE html>
<html lang='en'>
{% include 'layout/basic/metadata_sub.html' %}
{% include 'layout/headers/header.html' %}
<div class="wrapper">
    <body>
    {% from "_formhelper.html" import render_field %}
    {% include 'layout/headers/depositheader.html' %}
    {% if subcustom_stuff %}
        {% if subcustom_stuff.banner_image == '' %}
            {% include 'subforums/banner/plain_banner.html' %}
        {% else %}
            {% include 'subforums/banner/main_banner.html' %}
        {% endif %}
    {% else %}
        {% include 'subforums/banner/plain_banner.html' %}
    {% endif %}

    <div class="container-fluid mt-3">
        <div class="row">
            <!-- Left Side -->
            <div class=" col-sm-4 col-md-4 col-lg-3 col-xl-2 d-none d-lg-block main_color">
                {% include 'layout/profile/main_profile.html' %}
                {% include 'layout/widgets/_wallets.html' %}

                {% if current_user.is_authenticated %}

                    {% include 'layout/widgets/subscriptions.html' %}
                {% else %}
                    {% include 'layout/widgets/subscriptions_guest.html' %}
                {% endif %}
            </div>

            <!-- Middle -->
            <div class="col-sm-12 col-md-10 offset-md-1 offset-lg-0 offset-xl-1 col-lg-6 col-xl-6 mb-5 ">
                <div style="max-width: 600px; margin: 0 auto">
                    {% include 'layout/widgets_subs/nav/sub_topnav.html' %}
                    {% include "flashbar.html" %}

                    {% if current_user.is_authenticated %}

                        {% include 'create/posts/master/_specific_sub_create.html' %}
                    {% else %}
                        {% include 'create/posts/master/_fake_create_post.html' %}
                    {% endif %}

                    {% block content %}
                    {% endblock %}
                </div>
            </div>

            <!-- Right -->
            <div class="offset-md-1 offset-lg-0 offset-xl-1 col-lg-3 col-xl-2  d-none d-lg-block " >
                {% include 'layout/widgets_subs/sub_description.html' %}
                {% include 'layout/widgets/_formactions.html' %}
                {% include 'layout/widgets/_rules_for_posts.html' %}
                {% include 'layout/widget_stats/all/newest_tippers.html' %}
                {% include 'layout/widgets_subs/sub_infobox.html' %}
                {% include 'layout/widgets_subs/manage.html' %}
                {% include 'layout/widgets_subs/reports.html' %}
                {% include 'layout/widgets_subs/mods.html' %}
                {% include 'layout/widgets_subs/deletion.html' %}
            </div>
        </div>
    </div>
    <div class="mb-5"></div>
    </body>

</div>
 {% include 'layout/basic/_footer.html' %}
</html>