<div class="container mt-3">
    <div class="row" >
        <!-- Left Side -->
        <div class="col-md-3 col-lg-3 col-xl-3 d-none d-md-block ">
            {% include 'layout/profile/main_profile.html' %}
            {% include 'layout/widgets_coins/_wallets_balance.html' %}
            {% include 'layout/widgets/_current_prices.html' %}
        </div>

        <!-- Middle -->
        <div class="col-12 col-sm-12 col-md-9 col-lg-6 col-xl-6 mb-5 ">
            <div style="max-width: 600px; margin: 0 auto;">

                {% include "flashbar.html" %}

                    {% if current_user.is_authenticated %}
                        {% include 'create/posts/master/_full_form.html' %}
                    {% else %}
                        {% include 'create/posts/master/_fake_create_post.html' %}
                    {% endif %}

                {% include 'layout/widgets_subs/nav/sub_topnav.html' %}
                {% include 'layout/widgets/_livestream.html' %}

                {% for post in posts %}
                    {% include 'posts/classic/master.html' %}
                {% endfor %}

                <div class="row mt-5">
                    <div class="col-12 text-center justify-content-center">
                        {% if prev_url %}
                            <a class="btn btn-warning btn-sm" type="button" href="{{ prev_url }}">
                                previous
                            </a>
                        {% endif %}
                        {% if next_url %}
                            <a class="btn btn-warning btn-sm" type="button" href="{{ next_url }}">
                                next
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Right -->
        <div class="col-lg-3 col-xl-3 d-none d-lg-block">
            {% include 'layout/widgets_subs/abandon.html' %}
            {% include 'layout/widgets_subs/manage.html' %}
            {% include 'layout/widgets_subs/manage.html' %}
            {% include 'layout/widgets_subs/reports.html' %}
            {% include 'layout/widgets_subs/mods.html' %}
            {% include 'layout/widgets_subs/deletion.html' %}
            {% include 'layout/widgets/_rules_for_posts.html' %}
        </div>
    </div>
</div>