<div class="col-12 text-center mt-2 mb-2" style="font-size: 11px">
    <div class="row ">

        <div class="col-6 col-sm-6 col-md-3 text-white text-center pt-2 pb-2 btn-ee text-white"
             onclick="window.location.href='{{ url_for('subforum.viewpost',subname=post.subcommon_name, postid = post.id) }}';">
            <a class="btn-ee text-white" href="{{ url_for('subforum.viewpost',subname=post.subcommon_name, postid = post.id) }}">
                {{ post.comment_count }} comments
            </a>
        </div>

        <div class="col-6 col-sm-6 col-md-3 btn-ee pt-2 pb-2" style="overflow: visible">
            <div class=" dropdown show">

                <button class="btn-ee text-white" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Share
                </button>
                <div class="dropdown-menu btn-ee text-white" aria-labelledby="dropdownMenuButton">

                    <a class="dropdown-item " href="{{ url_for('create.share_post', postid = post.id) }}">
                        <b>Quick Share </b>
                    </a>
                    <a class="dropdown-item " href="{{ url_for('create.share_post_text', postid = post.id) }}">
                        <b>Write something </b>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-6 col-sm-6 col-md-3 pt-2 pb-2 btn-ee text-white"
             onclick="window.location.href='{{ url_for('promote.promotepost',subname=post.subcommon_name,postid=post.id) }}';">
            <a class="btn-ee text-white" href="{{ url_for('promote.promotepost',subname=post.subcommon_name,postid=post.id) }}">
                Promote
            </a>
        </div>



        <div class="col-6 col-sm-6 col-md-3 text-center text-white pt-2 pb-2 btn-ee"
             onclick="window.location.href='{{ url_for('tip.create_tip_post',subname=post.subcommon_name,postid = post.id) }}';">
            <a class="btn-ee text-white" href="{{ url_for('tip.create_tip_post',subname=post.subcommon_name,postid = post.id) }}">
                Tip
            </a>
        </div>


    </div>

</div>