
<div class="col-12 mb-0">
    <form method="post" action="{{ url_for('vote.post_vote',votetype=1,postid=post.id, subname=post.subcommon_name) }}">
        <button type="submit" class="btn btn-upvote" style="margin-bottom: -15px;">
            <img src="{{ url_for('static', filename='images/arrows/uparrow.png')  }}"
                 width="20px" height="20px">
        </button>
    </form>
</div>
<div class="col-12 text-left" >
    {% if post.hotness_rating_now == 0 %}
        <div class="col-12 text-right " style="font-size: 14px; margin-right: -15px">{{ post.highest_exp_reached }}</div>
    {% else %}
        {% if post.hotness_rating_now < 0  %}
            <div class="col-12 downred" style="font-size: 14px; ">{{ post.hotness_rating_now }}</div>
        {% elif 1 <= post.hotness_rating_now <= 998 %}
            <div class="col-12 upgreen text-center " style="font-size: 14px;">{{ post.hotness_rating_now }}</div>
        {% elif 999998 >= post.hotness_rating_now >= 999 %}
            <div class="col-12 upgreen" style="font-size: 14px; margin-left: -7px">{{ post.hotness_rating_now }}</div>
        {% elif post.hotness_rating_now > 999999 %}
            <div class="col-12 upgreen " style="font-size: 12px; margin-left: -15px">{{ post.hotness_rating_now }}</div>
        {% else %}
            <div class="col-12 upgreen " style="font-size: 14px">{{ post.hotness_rating_now }}</div>
        {% endif %}
    {% endif %}
</div>
<div class="col-12 mb-0 " style="max-height: 20px">
    <form method="post" action="{{ url_for('vote.post_vote',votetype=2, postid=post.id, subname=post.subcommon_name) }}">
        <button type="submit" class="btn btn-downvote"  style="  ">
            <img src="{{ url_for('static', filename='images/arrows/downarrow.png')  }}"
                 width="20px" height="20px">
        </button>
    </form>
</div>
