<div class="col-12 ml-0 mr-0 mt-0 mb-3">
    <div class="row ">

        {% if post.visible_user_name.profileimage == '' %}
            <img src="{{ url_for('static', filename='images/noprofile.png')  }}"
                 style="width:50px;height: 50px">
        {% else %}
            <a href="{{ url_for('business.main', business_name=post.bizownerposts.business_name) }}">
                <img class="img-responsive" src="{{ url_for('common.business_image',
                                filename=post.bizownerposts.profileimage) }}"
                     style="width:50px;height: 50px">
            </a>
        {% endif %}

        <div class="col">
            <div class="linkcolor_normal"  style="display: inline; font-size: 15px">
                <a href="{{ url_for('business.main', business_name=post.bizownerposts.business_name) }}">
                    {% if post.bizownerposts.official_business_name|length > 1 %}
                        {{ post.bizownerposts.official_business_name }}
                    {% else %}
                        {{ post.bizownerposts.business_name }}
                    {% endif %}
                </a>
            </div>
            {% if post.subcommon_id == 1 %}

            {% else %}
                <div class="post_text_color"  style="display: inline;">
                    to
                </div>
                <div class="linkcolor_normal"  style="display: inline;">
                    <a  href="{{ url_for('subforum.sub', subname=post.subcommon_name) }}">
                        a/{{ post.subcommon_name }}
                    </a>
                </div>
            {% endif %}
            <div class="row ">
                <div class="col border-bottom border-dark mb-2  ">
                    <div class="post_text_color"  style="display: inline; font-size: 12px">
                        Posted   {{ moment(timestamp=post.shared_time, local=False).fromNow(refresh=True)  }}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>