{% if post.url_of_post %}
    <a class="" href="{{ post.url_of_post }}">
        <div class="col-12  p-0 mb-2 third_color"  style="font-size: 14px;word-break: break-all;">
            <div class="col-12 w-100 m-0 p-0 text-center" style="overflow: hidden">
                {% if post.url_image_server  %}
                    <img class="img-responsive wallimage"
                         src="{{ url_for('common.post_file',filename=post.url_image_server) }}"
                         style="max-width:500px;">
                {% endif %}
            </div>
            <div class="col-12 text-white" style="font-size: 10px;">
                {% if post.url_of_post %}
                    {{ post.url_of_post }}
                {% endif %}
            </div>
            <div class="col-12 text-white" style="font-size: 16px;">
                {% if post.url_title %}
                    {{ post.url_title }}
                {% endif %}
            </div>
        </div>
    </a>
{% endif %}