<div class="col-12 text-center mb-3"><h5>Business Navigation</h5></div>
<div class="row mb-2">

    <div class="col-12">
        <a class="btn btn-dark  w-100 mb-2" href="{{ url_for('business_edit.view_bio', business_name=thebiz.business_name) }}">Basic Info</a><br>
        <a class="btn btn-dark  w-100 mb-2" href="{{ url_for('business_edit.view_large_bio', business_name=thebiz.business_name) }}">About Page</a><br>
        <a class="btn btn-dark  w-100 mb-2" href="{{ url_for('business_edit.view_location', business_name=thebiz.business_name) }}">Location</a><br>
        <a class="btn btn-dark  w-100 mb-2" href="{{ url_for('business_edit.acceptswhatcurrency', business_name=thebiz.business_name) }}">Currencies</a><br>
        <a class="btn btn-dark  w-100 mb-2" href="{{ url_for('business_edit.profilepicture', business_id=thebiz.id) }}">Profile Picture</a><br>
        <a class="btn btn-dark  w-100 mb-2" href="{{ url_for('business_edit.bannerpicture', business_id=thebiz.id) }}">Banner Image</a><br>
        <br>
        <div class="text-center">DANGER ZONE</div>
        <br>
        <a class="btn btn-danger  w-100 mb-2" href="{{ url_for('business_edit.ownerdeletepage', business_name=thebiz.business_name) }}">Delete Page</a><br>
    </div>
</div>