{% extends "business/edit/layout.html" %}
{% block content %}
    <div class="col-12 second_color">

        <form method="post" action="{{ url_for('business_edit.ownerdeletepageconfirm', business_name=thebiz.business_name) }}">
            {{ deleteform.csrf_token }}
             <div class="form-group w-100">

                <div class="col-12">
                    <div class="text-center"><h3>{{ thebiz.business_name }}</h3></div>

                    Enter your page name here to delete your page.  Once deleted, your posts and page will be PERMANTELY DELETED.
                    There is no recovering from this, not even by an admin.  IT IS FOREVER.
                </div>
            </div>
            <div class="form-group w-100">
                <label class="col-12 col-form-label"><b>Your Business Name </b></label>
                <div class="col-6">
                    {{ render_field(deleteform.page_name,autocomplete="off",class="form-control bg-dark text-white w-100") }}
                </div>
            </div>

            <hr>
            <div class="col-12 text-center">
                {{ render_field(deleteform.submit,  value="DELETE PAGE", autocomplete="off", class="btn btn-danger ") }}
            </div>
        </form>

    </div>

{% endblock %}