{% from "_formhelper.html" import render_field %}
<div class="wrapper">
    {% include 'layout/basic/metadata.html' %}
    {% include 'layout/headers/header.html' %}
    <body>
    <div class="container mt-3">

        <div class="col-12 ">
            <a class="btn btn-dark text-white mb-3" href="{{ url_for('business.main', business_name=thebiz.business_name) }}">
                Back to my business page
            </a>
        </div>

        <div class="row">
            <div class="col-3 second_color">
                {% include "business/edit/_sidebar.html" %}
            </div>
            <div class="col-9">
                {% include "flashbar.html" %}
                <div class="row mb-2">
                    <div class="col-12 text-center"><h5></h5></div>
                    <div class="col-12">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-5"></div>
    </body>
    {% include 'layout/basic/_footer.html' %}
</div>