{% extends "business/edit/layout.html" %}
{% block content %}
    <div class="col-12 second_color">

        <form method="post" action="{{ url_for('business_edit.edit_large_bio', business_name=thebiz.business_name) }}">
            {{ form.csrf_token }}
            <div class="form-group w-100">
                <label class="col-12 col-form-label"><b>About Section</b>
                <br>
                    Add a profile, what your business is about, or other information relvant to a tipvoter.
                </label>
                <div class="col-12">
                    {{ render_field(form.bio,autocomplete="off",class="form-control darkbg  w-100") }}
                </div>
            </div>

            <hr>
            <div class="col-12 text-center">
                {{ render_field(form.submit,  value="Update", autocomplete="off", class="btn btn-dark ") }}
            </div>
        </form>

    </div>

{% endblock %}