<style>
    html,
    body {
        font-size: 13px !important;
        background-color: #e3e3e3 !important;
        color:#000000 !important;
    }
    .headercolor {
        background-color:#171717;

    }
    .second_color {
        background-color: #ffffff;
        border: solid ;
        border-width: 0.1em;
        border-color: #cfd5d8;
        border-radius: 5px;
    }
    .third_color {
        background-color: #ffffff;
    }

    .mainfontcolor{
        color:#ffffff;
    }

    {#Display colors after voting #}
    .downred{
        color:#D50000;
        display: inline;
    }

    .upgreen{
        color:#00ff00;
        display: inline;
    }

    .post_text_color{
        color: #818384;
    }

    .postdiv:hover {
        box-shadow: inset 0 0 0 1px  !important;
        border: #FFFFFF;
    }

    .panelborder {
        border-bottom: solid ;
        border-width: 0.1em;
        border-color: #cfd5d8;
    }
    .darkbg {
        background-color: #F6F8FA;
    }
    .verydarkbg {
        background-color: #18191A;
    }
    .user_name_color a:link { color: #818384;  text-decoration:none;}
    .user_name_color a:visited { color: #818384;  text-decoration:none; }
    .user_name_color a:hover { color: #818384;  text-decoration:none;}
    .user_name_color a:active { color: #818384;  text-decoration:none;}

    .user_name_color_same_as_poster a:link { color: #0084ff  ;  text-decoration:none;}
    .user_name_color_same_as_poster a:visited { color:#0084ff  ;  text-decoration:none; }
    .user_name_color_same_as_poster a:hover { color: #0084ff  ;  text-decoration:none;}
    .user_name_color_same_as_poster a:active { color: #0084ff  ;  text-decoration:none;}

    .linkcolor a:link { color: #262c31;  text-decoration:none;}
    .linkcolor a:visited { color: #262c31;  text-decoration:none; }
    .linkcolor a:hover { color: #262c31;  text-decoration:none;}
    .linkcolor a:active { color: #262c31;  text-decoration:none;}


</style>