<style>
html,
body {
    font-size: 13px !important;
    background-color: #F0F2F5 !important;
    font-family: "Segoe UI" !important;
    color:#ffffff !important;
}
.headercolor {
    background-color:#171717;
    color:#DBEEEE;
}
.second_color {
    background-color: #ffffff;
    color:#DBEEEE;
}
.third_color {
    background-color: #ffffff;
}

.mainfontcolor{
    color:#ffffff;
}

{#Display colors after voting #}
.downred{
    color:#D50000;
    display: inline;
}

.upgreen{
    color:#00ff00;
    display: inline;
}
{#light gray color in posts#}
.post_text_color{
    color: #818384;
}


.user_name_color a:link { color: #818384;  text-decoration:none;}
.user_name_color a:visited { color: #818384;  text-decoration:none; }
.user_name_color a:hover { color: #818384;  text-decoration:none;}
.user_name_color a:active { color: #818384;  text-decoration:none;}

.user_name_color_same_as_poster a:link { color: #0084ff  ;  text-decoration:none;}
.user_name_color_same_as_poster a:visited { color:#0084ff  ;  text-decoration:none; }
.user_name_color_same_as_poster a:hover { color: #0084ff  ;  text-decoration:none;}
.user_name_color_same_as_poster a:active { color: #0084ff  ;  text-decoration:none;}

.linkcolor a:link { color: #FFFFFF;  text-decoration:none;}
.linkcolor a:visited { color: #FFFFFF;  text-decoration:none; }
.linkcolor a:hover { color: #909090;  text-decoration:none;}
.linkcolor a:active { color: #909090;  text-decoration:none;}


</style>