{% extends "layout/layout_plain.html" %}
{% block content %}
    <div class="col-4 mb-5">
        <a class="text-white text-center btn btn-dark btn-block"
           href="{{ url_for('index') }}">
            Back to tipvote
        </a>
    </div>

    <div class="row mb-3">
        <div class="col-12 col-md-6 offset-md-3 text-center">
            <h5>
                Tipvote stands for freedom of speech.
            </h5>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-12 third_color">

                <div class="col-12">
                    <h2 class="text-center">
                        Simple Rules for posting. Be Civil.  Be Bold.
                    </h2>
                </div>
                <div class="col-12">
                    <p>Last Updated: 09/29/2020</p>
                </div>
                <div class="col-12 mb-3 second_color rounded">
                    <h4>1. Do not break any US Laws. </h4>

                        These may include but are not limited too.
                        Copyrighted material, child pornography, drug sales, etc.
                        Do not post anything
                        that is illegal to publish in the United States.

                </div>
                <div class="col-12 mb-3 second_color rounded">
                    <h4>2. Do not harass others. </h4>

                        Harrassment of any tipvote user will result in a ban.
                        Calls of violence to any member
                        or person not on tipvote will not be tolerated.

                </div>
                <div class="col-12 mb-3 second_color rounded">
                    <h4>3. Do Not threaten Tipvote. </h4>

                        Threats of DDOS, publishing private data, threats against mods,
                        or slander will not be tolerated.
                </div>
                <div class="col-12 mb-3 second_color rounded">
                    <h4>4. Do not incite violence. </h4>

                        Efforts to raise violence against an individual, group, or organization is against our rules.
                        Keep it civil and verbal only.

                </div>
                <div class="col-12 mb-3 second_color rounded">
                    <h4>5. Do not Spam. </h4>

                        Spamming Tipvote includes unnecessary posting in attempts to harm Tipvote.
                        Constant reposting of other's materials in attempts to claim it as your own
                        will result in a ban.  Large reporting of

                </div>
                <div class="col-12 text-center">
                    <div style="font-size: 11px">
                        All of these rules are interpreted by Tipvote and its mods to the best of our abilities.

                    </div>
                </div>

        </div>
    </div>
{% endblock %}