<ul class="nav nav-tabs mb-3">
    <li class="nav-item">
        {% if navlink == 1 %}
            <a class="nav-link btn-tipvote-up text-dark"  href="{{ url_for('followers.followers_home') }}">Popular</a>
        {% else %}
            <a class="nav-link"  href="{{ url_for('followers.followers_home') }}">Popular</a>
        {% endif %}
    </li>
    <li class="nav-item">
        {% if navlink == 2 %}
            <a class="nav-link btn-tipvote-up text-dark" href="{{ url_for('followers.followers_newest') }}">New</a>
        {% else %}
            <a class="nav-link" href="{{ url_for('followers.followers_newest') }}">New</a>
        {% endif %}
    </li>
    <li class="nav-item">
        {% if navlink == 3 %}
            <a class="nav-link btn-tipvote-up text-dark" href="{{ url_for('followers.followers_mostactive') }}">Active</a>
        {% else %}
            <a class="nav-link" href="{{ url_for('followers.followers_mostactive') }}">Active</a>
        {% endif %}
    </li>

    <li class="nav-item">
        {% if navlink == 5 %}
            <a class="nav-link btn-tipvote-up text-dark" href="{{ url_for('followers.followers_top') }}">Top</a>
        {% else %}
            <a class="nav-link" href="{{ url_for('followers.followers_top') }}">Top</a>
        {% endif %}
    </li>
</ul>