
<div class="col-12 mb-3 second_color  ">
    <div class="row pt-2 pb-2">
        <div class="col-8 col-md-9 ">
            {% if navlink == 1 %}
                <a class="btn btn-success"  role="button"  href="{{ url_for('index') }}">Popular</a>
            {% else %}
                <a class="btn btn-dark"  role="button" href="{{ url_for('index') }}">Popular</a>
            {% endif %}

            {% if navlink == 2 %}
                <a class="btn btn-success" style="" role="button" href="{{ url_for('newest') }}">New</a>
            {% else %}
                <a class="btn btn-dark "  role="button" href="{{ url_for('newest') }}">New</a>
            {% endif %}

            {% if navlink == 3 %}
                <a class="btn btn-success"  style="" role="button" href="{{ url_for('followers.followers_home') }}">Following</a>
            {% else %}
                <a class="btn btn-dark"  role="button" href="{{ url_for('followers.followers_home') }}">Following</a>
            {% endif %}
        </div>
        <div class="col-4 col-md-3  justify-content-end">
            <div class="row justify-content-end pr-3">

                <div class="col-4 text-center d-block d-md-none d-lg-block">
                    <a class="" href="{{ url_for('users.changestyle', choice=1) }}">
                        <i class=" fab fa-reddit fa-2x" style="color: #808183"></i> <br>
                    </a>
                </div>
                <div class="col-4 text-center d-block d-md-none d-lg-block">
                    <a class="" href="{{ url_for('users.changestyle', choice=2) }}">
                        <i class="fab fa-facebook-f fa-2x" style="color: #808183"></i>  <br>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
