<div class="second_color  ">

    <div class="col-12 profilebanner"
         style="background-image: url('{{ url_for('common.user_banner_image', filename=theuser.bannerimage) }}');
                 background-repeat: no-repeat;
                 background-position: center;
                 height: 350px
                 ">
    </div>
    {% if current_user.is_authenticated %}
        {% if theuser == current_user %}
            <div class="col-12 text-center">
                <a href="{{ url_for('photos.bannerpicture') }}">
                    Edit Banner
                </a>
            </div>
        {% else %}
        {% endif %}
    {% else %}
    {% endif %}
    <div class="col-12 mb-0 text-center " style="font-size: 24px; display: inline-block">
        u/{{ theuser.user_name }} <div style="display: inline; font-size: 14px">(Level: {{ theuser.user_stats_common.user_level }})</div>
    </div>
    <div class="col-12 text-center">
        {% if current_user.is_authenticated %}
            {% if theuser == current_user %}
            {% elif not current_user.is_following(theuser) %}
                <p><a class="btn btn-tipvote-up"
                      href="{{ url_for('profile.follow', user_name=theuser.user_name) }}">
                    Follow</a>
                </p>
            {% else %}
                <p><a class="btn btn-tipvote-down "
                      href="{{ url_for('profile.unfollow', user_name=theuser.user_name) }}">
                    Unfollow</a>
                </p>
            {% endif %}

        {% endif %}
    {{ followed_count }} Followers
    </div>
    <div class="col-12 text-center pt-2 pb-0">
        <p>
        {% if theuser.userpublicinfo.short_bio_clean %}
            {% if theuser.userpublicinfo.short_bio_clean|length > 1 %}
                {{ theuser.userpublicinfo.short_bio_clean|safe }}
            {% else %}
            {% endif %}
        {% endif %}
        </p>
    </div>
    <div class="col-12  pt-0 pb-2">
        <a class="btn btn-dark " href="{{ url_for('profile.main', user_name=theuser.user_name) }}">
            Wall
        </a>
        <a class="btn btn-dark " href="{{ url_for('profile.user_about', user_name=theuser.user_name) }}">
            About
        </a>

        <a class="btn btn-dark  float-right"
           href="{{ url_for('message.create_message_specific_user', user_name=theuser.user_name) }}">
            Message
        </a>
    </div>
</div>
