
<div class="col-12 mt-2  pb-1 pt-1 pr-0 pl-0 ml-0 mr-0 overflow-hidden">
    <div class="col-12 text-center mt-3 mb-4">
        <b>Withdrawl and Deposit History</b>
    </div>

    {% if transactcount >= 1 %}
        <div class="d-none d-md-block">
            <div class="row mb-4">
                <!-- set columns-->
                <div class="col-12 col-sm-12 col-md-2">Age</div>
                <div class="col-12 col-sm-3 col-md-3">Description</div>
                <div class="col-12 col-sm-3 col-md-3">Coin</div>
                <div class="col-12 col-sm-3 col-md-3">Balance</div>
            </div>
        </div>
        {% for t in transact %}
            <div class="row border  third_color mb-1">


                <!--First column: Time/DATE-->
                <div class="col-12 col-sm-12 col-md-2 text-center mb-2">
                    {{ moment(timestamp=t.created).fromNow(refresh=True) }}
                </div>

                <!--Second column: Description-->
                <div class="col-12 col-sm-3 col-md-3 text-center">

                    {%  if t.category == 1 %}
                        <!--Wallet Created-->
                        <br>

                    {%  elif t.category == 2 %}
                        <!--Money sent offsite-->
                        Withdrawl<br>
                        {% if t %}
                            Fee: {{ t.fee|btctostring }}<br>
                            {% if t.commentbtc %}
                                <br>{{ t.commentbtc }}
                            {% endif %}
                        {% endif %}
                        <br>

                    {% elif t.category == 3 %}
                        <!--Deposit from offsite-->
                        Deposit<br>
                        {% if t %}
                            {% if t.confirmations >= 6 %}
                                <div class="text-success">Confirmed</div><br>
                            {% else %}
                                Confirmations: {{ t.confirmations }}<br>
                            {% endif %}
                        {% endif %}

                    {% elif t.category == 4 %}
                        <!--Money sent to tip a comment-->
                        Sent comment tip to
                        {% if t.senderid %}
                            {% if t.senderid == 1 %}
                                Tipvote
                            {% else %}
                                {% if t.senderid  %}
                                    <a href="{{ url_for('profile.main',user_name=t.senderid|user_name) }}">
                                        {{ t.senderid|user_name }}
                                    </a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% elif t.category == 5 %}
                        <!--Money recieved from a comment-->
                        Recieved comment tip from
                        {% if t.senderid %}
                            <a href="{{ url_for('profile.main',user_name=t.senderid|user_name) }}">
                                {{ t.senderid|user_name }}
                            </a>
                        {% endif %}

                    {% elif t.category == 6 %}
                        <!--Money sent to tip a post-->
                        Sent post tip to
                        {% if t.senderid %}
                            {% if t.senderid == 1 %}
                                Tipvote
                            {% else %}
                                <a href="{{ url_for('profile.main',user_name=t.senderid|user_name) }}">
                                    {{ t.senderid|user_name }}
                                </a>
                            {% endif %}
                        {% endif %}

                    {% elif t.category == 7 %}
                        <!--Money recieved from a post-->
                        Recieved tip from post from
                        {% if t.senderid %}
                            <a href="{{ url_for('profile.main',user_name=t.senderid|user_name) }}">
                                {{ t.senderid|user_name }}</a>
                            <br>
                        {% endif %}

                    {% elif t.category == 8 %}
                        <!--Promoted a post-->
                        Promoted post #
                        {% if t.commentbtc %}
                            <a href="{{ url_for('subforum.viewpost',subname=t.commentbtc, postid=t.orderid) }}">
                                {{ t.orderid }}
                            </a>
                            <br>
                        {% endif %}

                    {% elif t.category == 9 %}
                        <!--subowner got part of a post tip-->
                        Profit from a tip in your room!
                        {% if t.commentbtc %}
                            <a href="{{ url_for('subforum.viewpost',subname=t.commentbtc, postid=t.orderid) }}">
                                post#  {{ t.orderid }}
                            </a>
                        {% endif %}
                        <br>

                    {% elif t.category == 10 %}
                        <!--subowner got part of a comment tip-->
                        Profit from a tip in your room!
                        {% if t.commentbtc %}
                            <a href="{{ url_for('profile.main',user_name=t.senderid|user_name) }}">
                                comment#{{ t.orderid }}
                            </a>
                        {% endif %}
                        <br>
                    {% elif t.category == 17 %}
                        <!--tipvote sent coin for daily-->
                        Sent coin for daily reward

                        <br>

                    {% elif t.category == 18 %}
                        <!--user got coin for daily-->
                        Reward from a daily challenge

                        <br>

                    {% else %}
                        {% if t.orderid %}
                            {{ t.amount }}<br><br>
                        {% endif %}
                    {% endif %}
                </div>



                <!--Third column: Amount-->
                <div class="col-12 col-sm-3 col-md-3 text-center">

                    {% if t.category == 1 %}
                        <!--Wallet Created-->
                        --

                    {% elif t.category == 2 %}
                        <!--Money sent offsite-->
                        Amount:
                        -{{ t.amount|btctostring }}

                    {% elif t.category == 3 %}
                        <!--Deposit from offsite-->
                        Amount:
                        <p class="text-success">{{ t.amount|btctostring }}</p>

                    {% elif t.category == 4 %}
                        <!--Money sent to tip a comment-->
                        Amount:
                        <p class="text-danger">-{{ t.amount|btctostring }}</p>

                    {% elif t.category == 5 %}
                        <!--Money recieved from a comment-->
                        Amount:
                        <p class="text-success">{{ t.amount|btctostring }}</p>

                    {% elif t.category == 6 %}
                        <!--Money sent to tip a post-->
                        Amount:
                        <p class="text-danger">-{{ t.amount|btctostring }}</p>

                    {% elif t.category == 7 %}
                        <!--Money recieved from a post-->
                        Amount:
                        <p class="text-success">{{ t.amount|btctostring }}</p>

                    {% elif t.category == 8 %}
                        <!--promoted a post-->
                        Amount:
                        <p class="text-success">-{{ t.amount|btctostring }}</p>

                    {%  elif t.category == 9 %}
                        <!--subowner got part of a post tip-->
                        Amount:
                        <p class="text-success">{{ t.amount|btctostring }}</p>

                    {%  elif t.category == 10 %}
                        <!--subowner got part of a comment tip-->
                        Amount:
                        <p class="text-success">{{ t.amount|btctostring }}</p>
                    {%  elif t.category == 17 %}
                        <!--subowner got part of a comment tip-->
                        Amount:
                        <p class="text-success">{{ t.amount|btctostring }}</p>
                    {%  elif t.category == 18 %}
                        <!--subowner got part of a comment tip-->
                        Amount:
                        <p class="text-success">{{ t.amount|btctostring }}</p>
                    {% else %}
                        Amount:
                        {{ t.amount|btctostring }}
                    {% endif %}
                </div>


                <!--Fourth column: User balance-->
                <div class="col-12 col-sm-3  col-md-3 text-center">

                    {% if t.category == 1 %}
                        <!--wallet created no data-->

                    {% elif t.category == 2 %}
                        <!--Money sent offsite-->
                        Balance:
                        {{ t.balance|btctostring }}

                    {% elif t.category == 3 %}
                        <!--Deposit from offsite-->
                        Balance:
                        {% if t.confirmed == 0 %}
                            {% if t.balance - t.amount == 0 %}
                                0 + {{ t.amount }}
                            {% else %}
                                {{ t.balance - t.amount }} + {{ t.amount }}
                            {% endif %}
                        {% else %}
                            {{ t.balance|btctostring }}
                        {% endif %}


                    {% elif t.category == 4 %}
                        <!--Money sent to tip a comment-->
                        Balance:
                        {% if t.balance %}
                            {% if 0 == t.balance  %}
                                0
                            {% else %}
                                {{ t.balance|btctostring }}
                            {% endif %}
                        {% endif %}


                    {% elif t.category == 5 %}
                        <!--Money recieved from a comment-->
                        Balance:
                        {% if t.balance %}
                            {% if 0 == t.balance %}
                                0
                            {% else %}
                                {{ t.balance|btctostring }}
                            {% endif %}
                        {% endif %}


                    {% elif t.category == 6 %}
                        <!--Money sent to tip a post-->
                        Balance:
                        {% if t.balance %}
                            {% if 0 == t.balance %}
                                0
                            {% else %}
                                {{ t.balance|btctostring }}
                            {% endif %}
                        {% endif %}

                    {% elif t.category == 7 %}
                        <!--Money recieved from a post-->
                        Balance:
                        {% if t.balance %}
                            {% if 0 == t.balance %}
                                0
                            {% else %}
                                {{ t.balance|btctostring }}
                            {% endif %}
                        {% endif %}


                    {% elif t.category == 8 %}
                        <!--promoted a post-->
                        Balance:
                        {% if t.balance %}
                            {% if 0 == t.balance %}
                                0
                            {% else %}
                                {{ t.balance|btctostring }}
                            {% endif %}
                        {% endif %}


                    {% elif t.category == 9 %}
                        <!--subowner got part of a post tip-->
                        Balance:
                        {% if t.balance %}
                            {% if 0 == t.balance %}
                                0
                            {% else %}
                                {{ t.balance|btctostring }}
                            {% endif %}
                        {% endif %}


                    {% elif t.category == 10 %}
                        <!--subowner got part of a comment tip-->
                        Balance:
                        {% if t.balance %}
                            {% if 0 == t.balance %}
                                0
                            {% else %}
                                {{ t.balance|btctostring }}
                            {% endif %}
                        {% endif %}

                    {%  elif t.category == 17 %}
                        <!--tipvote sent a daily-->
                        Amount:
                        <p class="text-success">-{{ t.amount|btctostring }}</p>
                    {%  elif t.category == 18 %}
                        <!--user got a daily tip-->
                        Amount:
                        <p class="text-success">{{ t.amount|btctostring }}</p>

                    {% else %}
                        Balance:
                        {% if t.balance %}
                            {% if 0 == t.balance %}
                                0
                            {% else %}
                                {{ t.balance|btctostring }}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>

                {% if t.txid %}
                    <!--Optional fifth column: Txid-->
                    <div class="col-12 text-center" style="font-size: 11px">
                        TXID<br> {{ t.txid }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}

        <div class="row mt-5">
            <div class="col-12 text-center justify-content-center">
                {% if prev_url %}
                    <a class="btn btn-warning btn-sm" type="button" href="{{ prev_url }}">Newer Transactions</a>
                {% endif %}
                {% if next_url %}
                    <a class="btn btn-warning btn-sm" type="button" href="{{ next_url }}">Older Transactions</a>
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="col-12 text-center"></div>
    {% endif %}
</div>