

<div class="col-12 col-sm-12 col-md-12 col-lg-8 mb-5 offset-lg-2">

    <div class="row second_color">
        <div class="col-12 text-center">
            <img  src="{{ url_for('static', filename='images/coins/xmr/xmr_logo_long.png')  }}" width="40%">
        </div>
        <div class="col-12 text-center mt-5">
           <h5>  Balance: <span class="moneroorange">{{ current_user.xmr.currentbalance|xmrtostring }}</span ></h5>
        </div>
        <form method="post" action="{{ url_for('promote.promotepost_xmr',subname=thesub.subcommon_name, postid=post.id) }}">
            {{ form_xmr.csrf_token }}
            <div class="form-group row mt-5">
                <label  class="col-4 col-form-label text-md-right">Amount in XMR:</label>
                <div class="col-8">
                    {{ render_field(form_xmr.custom_amount, class="bg-dark text-white ") }} XMR
                </div>
            </div>
            <div class="form-group row">
                <label  class="col-4 col-form-label text-md-right"></label>
                <div class="col-8">
                    {{ render_field(form_xmr.submit,  value="Send Coin", autocomplete="off", class="btn btn-danger ") }}
                </div>
            </div>


            <div class="col-12 mt-2  mb-2 text-center">
                <h5>Quick Promote</h5>
            </div>
            <div class="form-group row text-center justify-content-center">

                {{ render_field(form_xmr.cent_xmr,  value="0.01$", autocomplete="off", class="btn btn-danger mr-1") }}

                {{ render_field(form_xmr.quarter_xmr,  value="0.25$", autocomplete="off", class="btn btn-danger mr-1") }}

                {{ render_field(form_xmr.dollar_xmr,  value="1.00$", autocomplete="off", class="btn btn-danger mr-1") }}

                {{ render_field(form_xmr.five_dollar_xmr,  value="5.00$", autocomplete="off", class="btn btn-danger mr-1") }}

                {{ render_field(form_xmr.ten_dollar_xmr,  value="10.00$", autocomplete="off", class="btn btn-danger mr-1") }}

            </div>

            <div class="col-12">
                Please Note: Once you hit an amount above, it will be automatically taken
                from your wallet and given to post/commenter/poster.  There is no confirm screen after this.
            </div>
        </form>
    </div>

</div>
