{% extends "layout/layout_3bars_sub.html" %}
{% block content %}



    {% if posts %}

        {% if current_user.post_style == 1 %}
            {% include "layout/cards/_sub_cards.html" %}
        {% elif current_user.post_style == 2 %}
            {% include "layout/panels/_sub_panels_medium.html" %}
        {% elif current_user.post_style == 3 %}
            {% include "layout/panels/_sub_panels_large.html" %}
        {% elif current_user.post_style == 4 %}
            {% include "layout/panels/_sub_panels_small.html" %}
        {% else %}
            {% include "layout/cards/_sub_cards.html" %}
        {% endif %}

    {% else %}
        <div class="col-12 rounded second_color mb-1  border border-dark mt-5">
            <h4>There are no posts in this sub.  Why not add a post to spice things up?</h4>
        </div>

    {% endif %}



{% endblock %}