{% extends "layout/layout_3bars_sub.html" %}
{% block content %}

    {% if stickypostfrommods %}
        {% for post in stickypostfrommods %}
            {% include 'posts/master.html' %}
        {% endfor %}
    {% endif %}
    {% if posts %}
        {% for post in posts %}
           {% include 'posts/master.html' %}
        {% endfor %}
    {% else %}
        <div class="col-12 rounded second_color mb-1  border border-dark mt-5">
            <h4>There are no posts in this sub.  Why not add a post to spice things up?</h4>
        </div>

    {% endif %}
    <div class="row mt-5">
        <div class="col-12 text-center justify-content-center">
            {% if prev_url %}
                <a class="btn btn-warning btn-sm" type="button"href="{{ prev_url }}">Newer posts</a>
            {% endif %}
            {% if next_url %}
                <a class="btn btn-warning btn-sm" type="button" href="{{ next_url }}">Older posts</a>
            {% endif %}
        </div>
    </div>
{% endblock %}