{% extends "layout/layout_3bars_all.html" %}
{% block content %}
    {% if current_user.post_style == 1 %}
        {% include "layout/cards/_index_cards.html" %}
    {% elif current_user.post_style == 2 %}
        {% include "layout/panels/_index_panels_medium.html" %}
    {% elif current_user.post_style == 3 %}
        {% include "layout/panels/_index_panels_large.html" %}
    {% elif current_user.post_style == 4 %}
        {% include "layout/panels/_index_panels_small.html" %}
    {% else %}
        {% include "layout/panels/_index_panels_medium.html" %}
    {% endif %}

{% endblock %}