{% extends "layout/layout_3bars_frontpage.html" %}
{% block content %}

    {% if current_user.post_style == 1 %}
        {% include "layout/cards/frontpage_cards.html" %}
    {% elif current_user.post_style == 2 %}
        {% include "layout/panels/frontpage_panels.html" %}
    {% elif current_user.post_style == 3 %}
        {% include "layout/panels/frontpage_panels.html" %}
    {% elif current_user.post_style == 4 %}
        {% include "layout/panels/frontpage_panels.html" %}
    {% else %}
          {% include "layout/cards/frontpage_cards.html" %}
    {% endif %}

{% endblock %}